.btn {
    color: $colour-ink;
    font-size: 14px;
    font-weight: $semi-bold;
    text-decoration: none;
    border: 1px solid $colour-pastel-blue;
    padding: 0.5em 1.5em;
    border-radius: 2em;    
    &:focus,
    &:hover {
      background: $colour-green;
      border-color: $colour-green;
    }

    &:active {
      background: $colour-pastel-blue;
      border-color: $colour-pastel-blue;
    }
}

.cta {

  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 1em 0;
  border-radius: 10px;

  &.cta-success {

    color: $colour-white;
    border: 1px solid $alert-success-primary;
    background: $alert-success-primary;
    &:hover {
      color: $alert-success-primary;
      border: 1px solid $alert-success-primary;
      background: $alert-success-secondy;
    }

  }

  &.cta-info {

    color: $alert-info-primary;
    border: 1px solid $alert-info-primary;
    background: $alert-info-primary;
    &:hover {
      color: $alert-info-primary;
      border: 1px solid $alert-info-primary;
      background: $alert-info-secondy;
    }
  }

  &.cta-warning {

    color: #8a6d3b;
    border: 1px solid #8a6d3b;
    background: #fcf8e3;
    &:hover {
      color: #fcf8e3;
      border: 1px solid #8a6d3b;
      background: #8a6d3b;
    }
  }

  &.cta-danger {

    color: #BE4450;
    border: 1px solid #BE4450;
    background: #f2dede;
    &:hover {
      color: #f2dede;
      border: 1px solid #BE4450;
      background: #BE4450;
    }
  }
}


.notifaction-cta {
  margin: 1em 0;

  .star-icon {
    width: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
    left: -5px;
  }
}



