$colour-ink: #0E1A35;
$colour-green: #32B39C;

$colour-red: #E23A38;
$colour-light-blue: #3498DB;
$colour-yellow: #F5A623;
$colour-purple: #895BB8;

$colour-dark-grey: #444444;
$colour-mid-grey: #D8D8D8;
$colour-light-grey: #EFEFEF;
$colour-blue: #425582;
$colour-pastel-blue: #ACAAC1;
$colour-white: #FFFFFF;
