.footer {
    font-size: 14px;
    color: $colour-blue;
    text-align: center;       
    padding: 20px 0;    
    border-top: 1px solid $colour-mid-grey;
    width: 1118px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -559px;     
}