/* Fixes the boostrap grid col wrapping issue */
* {
    box-sizing: border-box;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {

    float: none;        
    margin: auto;
}

.icon {
    overflow: hidden;
    text-indent: -9999px;
}

.header-nav-wrap {
    margin-bottom: 4em;
}