/* Alerts */

.alert {
  background: #fff;
  margin: 1em 0;
  border: 1px solid #ccc;
  display: none;

  &.show {
    display: block;
  }

  h3 {
    margin: 0 0 0.5em 0;
    padding: 0.5em;
  }

  p {
    margin: 0 1em 0.5em 1em;

  }

  &.alert-success {

    h3 {
      color: #3c763d;
      background: #dff0d8;
      border-bottom: 1px solid #3c763d;
    }

  }

  &.alert-info {

    h3 {
      color: #31708f;
      background: #D9EDFE;
    }
  }

  &.alert-warning {

    h3 {
      color: #8a6d3b;
      background: #fcf8e3;
    }
  }

  &.alert-danger {

    h3 {
      color: #BE4450;
      background: #f2dede;
    }
  }
}