/* Search Box */

.searchBox {

  display: table;
  position: relative;
  top: 17px;

  input {

    &.searchInput
    {
      display: inline-block;
      width: 80%;
      margin: 0;
      float: left;
    }
  }

  button {
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
    background: #ccc;
    border: none;
    height: 42px;
    text-align: center;

    img {
      height: 18px;
      margin: 0 auto;
    }
  }
}