.top-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    height: 96px;
    z-index: 100;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.20);
    border-top: 1px solid $colour-light-grey;
    .navigation-title {
        text-align: center;
        font-size: 24px;
        margin-top: 27px;

        a {
            text-decoration: none;
            color: #000;
        }

        a:active {
            background: #F4F4F4;
        }

        &.red {
            a:hover {
                padding: 36px 100px;
                border-bottom: solid 3px #E23A38;
                color: #E23A38;
            }
        }
        &.blue {
            a:hover {
                padding: 30px 100px;
                border-bottom: solid 3px #3498DB;
                color: #3498DB;
            }
        }
        &.yellow {
            a:hover {
                padding: 32px 100px;
                border-bottom: solid 3px #F5A623;
                color: #F5A623;
            }
        }
        &.purple {
            a:hover {
                padding: 32px 100px;
                border-bottom: solid 3px #895BB8;
                color: #895BB8;
            }
        }
    }

    .icon {
        vertical-align: sub;
    }

    .back-to-the-hub-text {
        top: 29px;
        left: 88px;
    }

    .dropdown {
        position: relative;
        float: right;
        right: 85px;
        bottom: 27px;
    }
    
    .dropdown-menu {
        position: absolute;
        display: none;
        padding: 5px 0;
        margin-top: 33px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        list-style:none;
        font-size: 16px;
    }

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        color: #333333;
        text-decoration: none;
    }

    .dropdown-menu > li > a:hover {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }

    .open > .dropdown-menu {
        display: block;
        right: 52px;
        width: 194px;
    }

    .icon-dropdown {
        position: absolute;
        right: 5px;
        top: 6px;
    }

    .language-button {
        font-size: 16px;
        background-color: #fff;
        color: #425582;
        border: 1px solid #A1AAC1;
        cursor: pointer;
        border-radius: 10px;
        display: inline-block;
        position: absolute;
        right: 52px;
        top: -4px;
        width: 194px;
        height: 42px;
        text-align: left;
        padding: 2px 0px 0px 15px;
    }

    .language-button:hover, .language-button:focus {
        color: #0E1A35;
        border: 1px solid #32B39C;
    }

    .language-button:active {
        color: #A1AAC1;
        border: 1px solid #425582;
    }
}

.hub-top-navigation {
    background: none;
    border: none;
    box-shadow: none;
    .dropdown {
        bottom: 0;
        top: 40px;
        &.open {
            button {
                border-radius: 10px 10px 0 0;
            }
        }
        button {
            &:focus {
                outline: none;
            }
        }
        .dropdown-menu {
            border-radius: 0 0 10px 10px;            
        }
    }
}

.back-to-hub {
    font-weight: 600;
    position: absolute;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #425582;
    top: 22px;
    left: 27px;

    &:hover {
        color: #32B39C;
    }

    :active {
        color: #A1AAC1;
    }

    .icon-icon-hub {
        margin-right: 8px;
        margin-bottom: -5px;
        vertical-align: sub;
    }

    .hub-content & {
        margin-top: 8px;
        text-align: left;
    }
}

.back-to-the-hub-text {
    width: 90px;
    display: inline-block;
}