  <nav class="govuk-hub-sub-menu blue">
    <div class="govuk-grid-row">
      {% for name, item in params.data.items %}
        <div class="govuk-grid-column-one-third">
          <a href="{%- if item.linkurl %} {{ item.linkurl }}{% endif -%}" title="{%- if item.linktext %} {{ item.linktext }}{% endif -%}" class="govuk-hub-sub-menu__link govuk-link">
            {%- if item.linktext %} {{ item.linktext }}{% endif -%}
          </a>
        </div>
      {% endfor %}
    </div>
  </nav>