{% from "../../components/back-button/macro.njk" import backButton %}
{% extends "../../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
  <link href="/public/javascript/games/neontroids/neontroids.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block header %}
  {{ backButton() }}
{% endblock %}

{% block search %}{% endblock %}

{% block main %}
  <div class="neontroids">
    <canvas id='canvas' class="canvas"></canvas>

    <script>
      document
        .documentElement
        .classList
        .add('full-dimensions');
      document
        .body
        .classList
        .add('full-dimensions');
      document
        .body
        .classList
        .add('noscroll');
    </script>
    <script src="/public/javascript/games/neontroids/sound-fx.js"></script>
    <script src="/public/javascript/games/neontroids/keyboard-io.js"></script>
    <script src="/public/javascript/games/neontroids/collisions.js"></script>
    <script src="/public/javascript/games/neontroids/asteroids-sprites.js"></script>
    <script src="/public/javascript/games/neontroids/asteroids-polygon.js"></script>
    <script src="/public/javascript/games/neontroids/display-text.js"></script>
    <script src="/public/javascript/games/neontroids/asteroids.js"></script>
  </div>
{% endblock %}

{% block footer %}{% endblock %}
