{% from "../../components/header/macro.njk" import govukHeaderWithBack %}
{% extends "../../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/public/stylesheets/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  <link href="/public/javascript/games/sudoku/sudokuJS.css" rel="stylesheet" type="text/css"/>


{% endblock %}

{% block header %}
  {{ govukHeaderWithBack({
    mainMenu: mainMenu,
    topicsMenu: topicsMenu,
    appName: envVars.APP_NAME,
    features: features
  }) }}
{% endblock %}

{% block main %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 id="title" class="govuk-heading-xl govuk-!-margin-bottom-6">Sudoku</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div id="sudoku" class="sudoku-board js-sudoku-board" data-board-size="9"></div>
      </div>

      <div class="govuk-grid-column-one-half">
        <p class="govuk-body">Sudoku is a game that involves a grid of 81 squares, divided into nine blocks, each containing nine squares.</p>
        <p class="govuk-body">Each of the nine blocks has to contain the numbers 1-9, each number can only appear once in a row, column or box. Each vertical nine-square column, or horizontal nine-square line across, within the larger square, must also contain the numbers 1-9, without repetition or omission.</p>
        <p class="govuk-body">Each sudoku puzzle has only one correct solution.</p>
        <p><button id="new-game" class="govuk-button" title="Start a new game">Start a new game</button></p>
      </div>
    </div>
  </main>
</div>

<!-- Sudoku -->
<script src="/public/jquery.min.js"></script>
<script src="/public/javascript/games/sudoku/sudokuJS.js" type="text/javascript"></script>
<script>
  var mySudokuJS = $("#sudoku").sudokuJS({
      difficulty: "Easy",
      boardFinishedFn: function (data) {
          const message = "Congratulations \n\n You have completed the puzzle, would you like to play again?"
          if (confirm(message)) {
            mySudokuJS.generateBoard('easy');
          };
      }
  });

  /*window.setInterval(function(){
      mySudokuJS.solveStep();
  }, 100);*/

  $("#new-game").on("click", function() {
      clearErrors();
      mySudokuJS.generateBoard('easy');
  });

  function clearErrors(){
      $("#sudoku input").filter(function() {
          $(this).removeAttr('disabled');
          $(this).removeClass("board-cell--error highlight-val");
      });
  }
</script>


{% endblock %}
