{% from "../../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../../components/user-details-with-search/macro.njk" import userDetailsWithSearch %}
{% extends "../../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
  <link href="/public/javascript/games/sudoku/sudokuJS.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    appName: envVars.APP_NAME,
    showBar: false
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetailsWithSearch({
    detailsType: config.detailsType,
    userName: config.userName,
    query: query,
    small: true
  }) }}
{% endblock %}

{% block header %}{% endblock %}
{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 id="title" class="govuk-heading-xl govuk-!-margin-bottom-6">Sudoku</h1>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-one-half">
          <div id="sudoku" class="sudoku-board js-sudoku-board" data-board-size="9"></div>
        </div>

        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">Sudoku is a game that involves a grid of 81 squares, divided into nine blocks, each containing nine squares.</p>
          <p class="govuk-body">Each of the nine blocks has to contain the numbers 1-9, each number can only appear once in a row, column or box. Each vertical nine-square column, or horizontal nine-square line across, within the larger square, must also contain the numbers 1-9, without repetition or omission.</p>
          <p class="govuk-body">Each sudoku puzzle has only one correct solution.</p>
          {{ govukRadios({
            classes: "govuk-radios--small",
            idPrefix: "sudoku-difficulty",
            name: "sudoku-difficulty",
            fieldset: {
              legend: {
                text: "Difficulty level",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "easy",
                text: "Easy"
              },
              {
                value: "medium",
                text: "Medium"
              },
              {
                value: "hard",
                text: "Hard"
              },
              {
                value: "very hard",
                text: "Very hard"
              }
            ]
          }) }}
          <p>
            <button id="new-game" class="govuk-button" title="Start a new game">Start a new game</button>
          </p>
        </div>
      </div>

      <div class="govuk-hub-article-feedback">
        <p class="govuk-body">Tell us what you think:</p>
        {{ hubFeedbackWidget({
          title: "Sudoku",
          contentType: "game",
          series: null,
          establishment: envVars.APP_NAME
      })}}
      </div>
    </main>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/public/javascript/games/sudoku/sudokuJS.js"></script>
  <script>
    function newBoard() {
      $("#sudoku input").filter(function () {
        $(this).removeAttr('disabled');
        $(this).removeClass("board-cell--error highlight-val");
      });
      mySudokuJS.clearBoard();
      mySudokuJS.generateBoard(getLevel());
    }
    var mySudokuJS = $("#sudoku").sudokuJS({
      difficulty: getLevel(),
      boardFinishedFn: function (data) {
        const message = "Congratulations \n\n You have completed the puzzle, would you like to play again?";
        if (confirm(message)) {
          newBoard();
        };
      }
    });

    $("#new-game").on("click", function () {
      newBoard();
    });

    function getLevel() {
      return $("input[name='sudoku-difficulty']:checked").val() || 'easy';
    }
  </script>
{% endblock %}
