<article class="govuk-hub-video-content-item" >
  <a href="#" title="{{ params.title }}" class="govuk-link--no-visited-state">
    <img src="{{ url }}" alt="{{ alt }}">
    <p class="govuk-body govuk-!-font-weight-bold ">{{ params.title }}</p>
  </a>
</article>
