.radio-header {
    background-color: #226699;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-size: cover !important;
    text-align: center;
    position: relative;
    color: $colour-white;
    margin-top: 96px;
    padding:  3em 0 3em;
    h1 {
        color: #fff;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    p {
        color: #fff;
        margin: -24px 220px 14px 220px;
    }
    a {
        color: #fff;
    }
    #header {
        z-index: 10;
        position: relative;
    }

    .video-js {
        width: 100%;
        background-color: transparent;
        display: block;
        position: absolute;
        height:  400px;
        top: 0;
        .vjs-control-bar {
            top: 0;
            height: 100%;
            .vjs-play-control {
                z-index: 30;
                height: 70px;
                width: 70px;
                text-indent: -999px;
                overflow: hidden;
                background-image: url("/img/play-button-white.png");
                margin-top: -31px;
                left: 11px;

                &.vjs-playing {
                  background-image: url("/img/pause-button-white.png");
                }
            }
            .vjs-mute-control {
                position: relative;
                z-index: 30;
                height: 50px;
                margin-left: -63px;
            }
            .vjs-volume-control {
                margin-left: -50px;
                position: absolute;
                left: 50%;
                width: 100px;
                z-index: 30;
                height: auto;
                .vjs-slider-horizontal {
                    width: 100%;
                    margin: 0px;
                }
            }
            .vjs-current-time {
                display:block;
                height: auto;
                position: absolute;
                top: 400px;
                color: blue;
                &::after {
                    content: "/";
                    position: absolute;
                    right: 5px;
                    margin-top: -30px;
                }
                .vjs-current-time-display {
                    height: auto;
                }
            }
            .vjs-duration {
                display: block;
                height: auto;
                position: absolute;
                bottom: -30px;
                color: black;
                left: 27px;
            }
            .vjs-progress-control {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                background: transparent;
                pointer-events: none;
                .vjs-slider-horizontal {
                    width: 100%;
                    height: 100%;
                    margin: 0px;
                    background: transparent;
                    .vjs-play-progress {
                        height: 100%;
                        background:rgba(52,152,219,0.75);
                        &::before {
                            top: auto;
                            bottom: -0.5em;
                        }
                    }
                }
            }
            .vjs-remaining-time {
                margin-top: 20px;
                height: auto;
            }
        }
        .vjs-big-play-button {
            display: none;
        }
        .vjs-control-bar {
            display: block !important;
            background: transparent;
        }
    }
    #equaliser {
        background: url("/img/img-equaliser.png") 50% no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 155px;
    }
    #play-next-show {
      position: relative;
      z-index: 30;
      margin-left: 60px;
      top: 38px;
      .icon-next-small-grey {
          cursor: default;
      }
    }
    #play-prev-show {
      position: relative;
      z-index: 30;
      margin-right: 60px;
      top: 38px;
      .icon-prev-small-grey {
          cursor: default;
        }
    }
}

.radio-container {
   ul li {
        padding: 0px;
        overflow: hidden;
        a {
            padding: 15px;
        }
    }
    li:not(.show-playing) {
        a {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

            &:hover {
                .play-show-button {
                    //Change which play icon the css loads from the sprite
                    background-position: -240px -180px;
                }
            }
        
            &:active {
                background-color: $colour-pastel-blue;
                color: $colour-white;

                .play-show-button {
                    background-position: -240px -138px;
                    pointer-events: none;
                }
                .duration {
                    pointer-events: none;
                    color: $colour-white;
                    .icon-clock {
                        background-position: -256px -240px;
                    }
                }
            }
        }
    }
    
    .show-playing {
        a {
            &:hover {
                .episode-list-icon {
                    color: $colour-white;
                }
            }
        }
    }
    
    .episode-list-icon {
        display: inline-block;
    }
    .icon {
        zoom: 0.8;
    }
    .icon-clock {
        zoom: 0.6;
    }
    .play-show-icon-clock {
        zoom: 0.6;
    }
    .show-playing {
        background-color: #1E90FF;
        a {
            color: #fff;
        }
        .duration {
          color: #ffffff;
        }
    }

    h2 {
        margin: 54px 0px -7px 0px;
    }
    .added-today {
        display: inline-block;
        background-color: orange;
        padding: 6px 15px 6px 15px;
        border-radius: 1em;
        margin-left: 20px;
        color: #000;
    }
    .duration {
        display: inline-block;
        float: right;
        margin-top: 7px;
        color: #a6a6a6;
    }
}

#player-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
}

body {
    width:100%;
    overflow-x: hidden;}