{%  set icon = {
  video: "icon-movie",
  page: "icon-document",
  pdf: "icon-document",
  radio: "icon-music"
}
%}

{% set linkText = {
  video: "Watch",
  page: "Read more",
  pdf: "Read more",
  radio: "Listen"
}%}

{% set linkIcon = {
  video: "icon-play",
  page: "icon-link",
  pdf: "icon-link",
  radio: "icon-play"
}%}

<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <article data-promoted-item-text class="govuk-hub-promoted-content">
        <a class="govuk-hub-promoted-content__no-link" href="/content/{{params.data.id}}">
          <div data-promoted-item-background class="govuk-hub-promoted-content__grpahic" style="background-image:url({{ params.data.image.url }})">
            <div class="govuk-hub-promoted-content__overlay">
              <div class="govuk-hub-promoted-content__header">
                <h1 class="govuk-hub-promoted-content__header-title govuk-heading-xl">{{ params.data.title }}</h1>
              </div>
              <div class="govuk-hub-promoted-content__main">
                <p class="govuk-hub-promoted-content__description govuk-body">{{ params.data.summary }}</p>
                <div><span class="{{ linkIcon[params.data.contentType] }}"><span class="path1"></span><span class="path2"></span></span><span class="space"><span class="govuk-hub-promoted-content__link govuk-link">{{ linkText[params.data.contentType] }}</span></span></div>
              </div>
            </div>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>
