<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <article class="govuk-hub-promoted-content">
      <div class="govuk-hub-promoted-content__overlay">
        <header class="govuk-hub-promoted-content__header">
          <h1 class="govuk-hub-promoted-content__header-title govuk-heading-xl ">{%- if params.data.title %} {{ params.data.title }}{% endif -%}</h1>
        </header>
        <main class="govuk-hub-promoted-content__main">
          <p class="govuk-hub-promoted-content__description govuk-body">{%- if params.data.description %} {{ params.data.description }}{% endif -%}</p>
          <p><span class="icon-link"><span class="path1"></span><span class="path2"></span></span> <a href="{%- if params.data.linkurl %} {{ params.data.linkurl }}{% endif -%}" class="govuk-hub-promoted-content__link govuk-link"> {%- if params.data.linktext %} {{ params.data.linktext }}{% endif -%}</a></p>
        </main>
      </div>
      <img src="{{ assetPath | default('/public') }}{%- if params.data.graphic %}{{ params.data.graphic }}{% endif -%}" alt="{%- if params.data.title %} {{ params.data.title }}{% endif -%}" class="govuk-hub-promoted-content__grpahic" />
    </article>
  </div>
</div>
<section>