{%  set icon = {
  video: "icon-movie",
  page: "icon-document",
  pdf: "icon-document",
  radio: "icon-music",
  landing_page: "icon-document",
  series: "icon-document",
  tags: "icon-tags"
}%}

{% set linkText = {
  video: "Watch",
  page: "Read more",
  pdf: "Read more",
  radio: "Listen",
  landing_page: "Read more",
  series: "Read more",
  tags: "Read more"
}%}

{% set linkIcon = {
  video: "icon-play",
  page: "icon-link",
  pdf: "icon-link",
  radio: "icon-play",
  landing_page: "icon-link",
  series: "icon-link",
  tags: "icon-link"
}%}

<article data-promoted-item-text class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <a data-content-type="{{params.data.contentType}}" data-call-to-action="read-more" class="govuk-hub-promoted-content__no-link" href="{{params.data.contentUrl}}">
        <div class="govuk-hub-promoted-content">
          <div class="govuk-hub-promoted-content-row">
            <div class="govuk-hub-promoted-content-image-container">
              <div data-promoted-item-background class="govuk-hub-promoted-content__graphic" style="background-image:url({{ params.data.image.url }})">&nbsp;</div>
            </div>

            <div class="govuk-hub-promoted-content-container">
              <div class="govuk-hub-promoted-content__header">
                <h2 class="govuk-hub-promoted-content__header-title govuk-heading-m">{{ params.data.title }}</h2>
              </div>
              <div class="govuk-hub-promoted-content__main">
                <p class="govuk-hub-promoted-content__description govuk-body">{{ params.data.summary }}</p>
                <div><span class="govuk-heading-s govuk-hub-no-link-decoration govuk-link govuk-link--no-visited-state">{{ linkText[params.data.contentType] }}</span></div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-hub-day-to-day-menu">
        <h3 class="govuk-heading-m">Day-to-day</h3>
        <ul class="govuk-list">
          {% for item in params.dayToDay %}
          <li><a class="govuk-heading-s govuk-hub-no-link-decoration govuk-link govuk-link--no-visited-state" href="{{item.contentUrl}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</article>
