.gitattributes !filter !diff

helm_deploy/prisoner-content-hub-proxy/secrets.yaml filter=git-crypt diff=git-crypt
helm_deploy/prisoner-content-hub-infra/secrets.yaml filter=git-crypt diff=git-crypt
nprrelay/icecast.xml filter=git-crypt diff=git-crypt
