HUB_DB_ENV_MYSQL_PASSWORD=S0MethingSecuRe
FLYSYSTEM_S3_KEY=TODO_USE_DEV_S3_CREDENTIALS_IF_NEEDED
FLYSYSTEM_S3_SECRET=TODO_USE_DEV_S3_CREDENTIALS_IF_NEEDED
FLYSYSTEM_S3_REGION=eu-west-1
FLYSYSTEM_S3_BUCKET=TODO_USE_DEV_S3_CREDENTIALS_IF_NEEDED
