APP_TIMEOUT=60.0
PORT=3000
APP_NAME=HMP Dev
MOCK_AUTH: 'true'

# The following must match the container names in your docker-compose or local setup
HUB_API_ENDPOINT=http://drupal
ELASTICSEARCH_ENDPOINT=http://hub-elasticsearch:9200
BACKEND_URL=http://drupal

