APP_TIMEOUT=60.0
PORT=3000
APP_NAME=HMP Development

# The following must match the container names in your docker-compose or local setup
HUB_API_ENDPOINT=http://prisoner-content-hub-backend:8080
ELASTICSEARCH_ENDPOINT=http://prisoner-content-hub-elasticsearch:9200
FEEDBACK_URL=http://prisoner-content-hub-elasticsearch:9200/local-feedback/_doc

ENABLE_PERSONALISATION=false
ENABLE_REDIS_CACHE=false
ENABLE_STACK_TRACES_ON_ERROR_PAGES=true

AZURE_AD_CLIENT_ID='UNSET'
AZURE_AD_CLIENT_SECRET='UNSET'
PRISON_API_BASE_URL='http://foo.bar'
HMPPS_AUTH_BASE_URL='http://foo.bar'
HMPPS_AUTH_CLIENT_ID='UNSET'
HMPPS_AUTH_CLIENT_SECRET='UNSET'
