# The following must match the container names & DB values in your docker-compose .env files or local setup
HUB_DB_PORT_3306_TCP_ADDR=prisoner-content-hub-backend-db
HUB_DB_ENV_MYSQL_DATABASE=hubdb
HUB_DB_ENV_MYSQL_USER=hubdb_user
HUB_DB_ENV_MYSQL_PASSWORD=S0MethingSecuRe

FLYSYSTEM_S3_KEY=TODO_USE_DEV_S3_CREDENTIALS_IF_NEEDED
FLYSYSTEM_S3_SECRET=TODO_USE_DEV_S3_CREDENTIALS_IF_NEEDED
FLYSYSTEM_S3_REGION=eu-west-1
FLYSYSTEM_S3_BUCKET=TODO_USE_DEV_S3_CREDENTIALS_IF_NEEDED

HUB_EXT_FILE_URL=http://localhost:11001/sites/default/files

SERVER_PORT=8080
ELASTICSEARCH_CLUSTER=elasticsearch
ELASTICSEARCH_HOST=http://prisoner-content-hub-elasticsearch:9200
HASH_SALT=Sup3RS3cretH4sH

PHP_MEMORY_LIMIT=256M
PHP_UPLOAD_MAX_FILE_SIZE=500M
PHP_POST_MAX_SIZE=500M

# Replace with your machines IP: $ ipconfig getifaddr en0
XDEBUG_IP=127.0.0.1 

# Prevent memory limit issues when installing new packages the composer
COMPOSER_MEMORY_LIMIT=-1
