{{- $fullName := include "prisoner-content-hub.fullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "prisoner-content-hub.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
    nginx.ingress.kubernetes.io/whitelist-source-range: {{ include "app.joinListWithComma" .Values.ingress.allowed | quote }}
spec:
  ingressClassName: default
  rules:
  - host: {{ .Values.ingress.hostName }}
    http:
      paths:
        - path: /{{ .Values.nprrelay.path }}(/|$)(.*)
          pathType: ImplementationSpecific
          backend:
            service:
              name: {{ include "prisoner-content-hub.fullname" . }}-{{ .Values.nprrelay.name }}
              port:
                number: 80
  tls:
  - hosts:
    - {{ .Values.ingress.hostName }}
    {{ if  .Values.ingress.certSecretName }}secretName: {{ .Values.ingress.certSecretName }}{{ end }}
    
