<div id="iepSummary" class="iep-info govuk-body">
  {% if not params.data.error %}
  <p class="iep-indicator
  {% if params.data.iepLevel === 'Basic' %}iep-indicator--basic{% endif %}
  {% if params.data.iepLevel === 'Standard' %}iep-indicator--standard{% endif %}
  {% if params.data.iepLevel === 'Enhanced' %}iep-indicator--enhanced{% endif %}
  ">Your current level</p>
  {% endif %}
  <div class="iep-levels govuk-clearfix">
    <div class="iep-level iep-level--basic">Basic</div>
    <div class="iep-level iep-level--standard">Standard</div>
    <div class="iep-level iep-level--enhanced">Enhanced</div>
  </div>
  <p class="iepReview">Your level {% if params.data.error %}is unavailable{% else %}can be reviewed on <span>{{ params.data.reviewDate }}</span>{% endif %}</p>
</div>
