{# {% extends "../component-or-error/macro.njk" %} #}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if params.error %}
  <div class="govuk-grid-column-two-thirds govuk-error-summary" id="keyWorker">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <p class="govuk-error-message">{{params.error}}</p>
    </div>
  </div>
{% else %}
  <div class="govuk-grid-column-two-thirds" id="iepSummary">
    <h2 class="govuk-heading-m">IEP (Incentives and earned privilages)</h2>
    {{
      govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: "Current level"
            },
            value: {
              text: params.iepLevel
            }
          },
          {
            key: {
              text: "Review date"
            },
            value: {
              text: params.reviewDate
            }
          },
          {
            key: {
              text: "Last review"
            },
            value: {
              text: params.daysSinceReview
            }
          }
        ]
      })
    }}
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  </div>
{% endif %}
