{# {% extends "../component-or-error/macro.njk" %} #}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if params.data.error %}
  <div class="govuk-grid-column-two-thirds govuk-error-summary" id="keyWorker">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <p class="govuk-error-message">{{params.data.error}}</p>
    </div>
  </div>
{% else %}
  <div id="iepSummary" class="iep-info govuk-body">
    <p class="iep-indicator
    {% if params.data.iepLevel === 'Basic' %}iep-indicator--basic{% endif %}
    {% if params.data.iepLevel === 'Standard' %}iep-indicator--standard{% endif %}
    {% if params.data.iepLevel === 'Enhanced' %}iep-indicator--enhanced{% endif %}
    ">Your current IEP level</p>
    <div class="iep-levels govuk-clearfix">
      <div class="iep-level iep-level--basic">Basic</div>
      <div class="iep-level iep-level--standard">Standard</div>
      <div class="iep-level iep-level--enhanced">Enhanced</div>
    </div>
    <p class="iepReview">Your IEP level can be reviewed on <span>{{ params.data.reviewDate }}</span></p>
  </div>
{% endif %}
