$news-border-radius: 0.75em;

.news-item {
    position: relative;
    padding: 2em 2em 2em 10em;
    margin-bottom: 3em;

    &.important {
        border-radius: $news-border-radius;
        background: $colour-yellow;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    }
}

.news-item--icon {
    position: absolute;
    top: 1.5em;
    left: 2.5em;
}

.news-item--title {
    margin: 0;
}

.news-item--posted {
    font-size: 14px;
    text-align: right;
    color: $colour-dark-grey;
    float: right;
}

.news-item--pinned {
    position: absolute;
    top: 1em;
    right: 1em;
}

.news-item--body {
    margin-bottom: 2em;
}

.news-items {
    .posted-ago {
        color: #b3b3b3;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #b3b3b3;
        line-height: 0.1em;
        margin: 10px 0 20px;
        display: block;

        span {
            font-weight: 600;
            background: $colour-light-grey;
            padding: 0 1em;
        }
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #b3b3b3;
        margin: 1em 0;
        padding: 0 0 1em;
    }

    .posted-ago + hr {
        display: none;
    }
}

.news-jump-to {
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-radius: $news-border-radius;

    h5 {
        margin: 0;
    }

    a {
        color: #00cccc;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.5em;
        }
    }
}

.news-item--expanded {
    display: none;
}
