{%  set icon = {
  video: "icon-movie",
  page: "icon-document",
  pdf: "icon-document",
  radio: "icon-music",
  landing_page: "icon-document",
  series: "icon-document",
  tags: "icon-tags",
  game: "icon-game"
}%}

{% set linkText = {
  video: "Watch",
  page: "Read more",
  pdf: "Read more",
  radio: "Listen",
  landing_page: "Read more",
  series: "Read more",
  tags: "Read more",
  game: "Play"
}%}

{% set linkIcon = {
  video: "icon-play",
  page: "icon-link",
  pdf: "icon-link",
  radio: "icon-play",
  landing_page: "icon-link",
  series: "icon-link",
  tags: "icon-link",
  game: "icon-link"
}%}

<a data-featured-id="{{ params.id }}" class="govuk-hub-featured-link" href="{{ params.contentUrl }}" {% if params.contentType === 'pdf' %} target="_blank" {% endif %}>
  <article class="govuk-hub-featured-content-item {{ params.size }}">
      <div data-featured-item-background class="govuk-hub-featured-content-item__image" style="background-image:url({{ params.graphic.url }})">
        <div class="govuk-hub-featured-content-item__overlay">
          <header class="govuk-hub-featured-content-item__header">
            <h3 data-featured-title="{{ params.title }}" class="govuk-hub-featured-content-item__header-title govuk-heading-m govuk-!-font-size-24">{{ params.title }}</h3>
          </header>
          <div class="govuk-hub-featured-content-item__main">
            <p class="govuk-hub-featured-content-item__description govuk-body">{{ params.summary if params.summary else params.title }}</p>
            <div title="{{ linkText[params.contentType] }}" class="govuk-hub-featured-content-item-icon govuk-hub-featured-content-item__main-play govuk-link"><span class="{{ linkIcon[params.contentType] }}"><span class="path1"></span><span class="path2"></span></span><span class="space">{{ linkText[params.contentType] }}</span></div>
            <span class="govuk-hub-featured-content-item__main-icon {{ icon[params.contentType] }}">
              <span data-featured-item-duration="{{ params.duration }}" class="govuk-body govuk-hub-featured-content-item__main-duration">{%- if params.duration %} {{ params.duration }}{% endif -%}</span>
            </span>
          </div>
          <div class="govuk-hub-featured-content-item__category-stripe govuk-hub-{{ params.type }}"></div>
        </div>
      </div>
  </article>
</a>
