defaults: &defaults
  working_directory: ~/workspace
  docker:
    - image: mojdigitalstudio/circleci-build-container

main_branch: &main_branch
  filters:
    branches:
      only: main
feature_branch: &feature_branch
  filters:
    branches:
      ignore: main

version: 2.1

orbs:
  kubernetes: circleci/kubernetes@0.3.0
  helm: circleci/helm@1.0.0

commands:
  set_up_helm:
    description: "Set up Kubernetes/Helm"
    steps:
      - kubernetes/install
      - helm/install-helm-client:
          version: v3.2.1

  release_to_namespace:
    description: "Release with Helm"
    parameters:
      environment:
        type: string
      releaseName:
        type: string
    steps:
      - attach_workspace:
          at: /tmp/build-info
      - run:
          name: Configure git crypt
          command: |
            sudo apt-get install git-crypt
            echo -e "$GIT_CRYPT_GPG_PRIVATE_KEY" | base64 -d | gpg --import
            git-crypt unlock
      - run:
          name: Configure kubectl context
          command: |
            echo -n ${KUBE_CLUSTER_CERT} | base64 -d > /tmp/cluster-ca.crt
            kubectl config set-cluster ${KUBE_CLUSTER_NAME} \
              --certificate-authority=/tmp/cluster-ca.crt \
              --server="https://api.${KUBE_CLUSTER_NAME}"
            kubectl config set-credentials circleci \
              --token=${KUBE_TOKEN}
            kubectl config set-context ${KUBE_CLUSTER_NAME} \
              --cluster=${KUBE_CLUSTER_NAME} \
              --user=circleci \
              --namespace=${KUBE_NAMESPACE}
            kubectl config use-context ${KUBE_CLUSTER_NAME}
      - run:
          name: Release to << parameters.environment >>
          command: |
            VERSION_TO_DEPLOY=$(cat /tmp/build-info/version-to-deploy.txt)
            helm upgrade << parameters.releaseName >> ./helm_deploy/prisoner-content-hub-proxy \
              --install --wait --force --reset-values --timeout 360s \
              --namespace=${KUBE_NAMESPACE} \
              --values ./helm_deploy/prisoner-content-hub-proxy/values.<< parameters.environment >>.yaml \
              --values ./helm_deploy/prisoner-content-hub-proxy/secrets.yaml \
              --set image.tag=${VERSION_TO_DEPLOY}

jobs:
  build_nprrelay_preview:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build frontend Docker image
          command: cd nprrelay && make build
      - run:
          name: Push frontend Docker image
          command: cd nprrelay && make push-preview
      - add_ssh_keys:
          fingerprints:
            - "0a:04:a1:27:17:3e:3d:8a:20:91:79:a1:9e:af:85:6c"
      - run:
          name: Save build number (for deployment)
          command: |
            mkdir -p /tmp/build-info
            echo preview > /tmp/build-info/version-to-deploy.txt
      - persist_to_workspace:
          root: /tmp/build-info
          paths:
            - version-to-deploy.txt

  build_nprrelay_production:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build frontend Docker image
          command: cd nprrelay && make build
      - run:
          name: Push frontend Docker image
          command: cd nprrelay && make push
      - add_ssh_keys:
          fingerprints:
            - "0a:04:a1:27:17:3e:3d:8a:20:91:79:a1:9e:af:85:6c"
      - run:
          name: Create Git Tag
          command: |
            git config user.name "Circle CI"
            git config user.email "circle@circleci.com"
            git tag -a "$(date '+%d-%m-%Y')-$CIRCLE_BUILD_NUM" $CIRCLE_SHA1 -m "$(git log $(git describe --tags --abbrev=0)..HEAD --pretty=%B)"
            git push origin "$(date '+%d-%m-%Y')-$CIRCLE_BUILD_NUM"
      - run:
          name: Save build number (for deployment)
          command: |
            mkdir -p /tmp/build-info
            echo build-${CIRCLE_BUILD_NUM} > /tmp/build-info/version-to-deploy.txt
      - persist_to_workspace:
          root: /tmp/build-info
          paths:
            - version-to-deploy.txt

  deploy_development:
    <<: *defaults
    steps:
      - checkout
      - set_up_helm
      - release_to_namespace:
          environment: "development"
          releaseName: "prisoner-content-hub-proxy"

  deploy_staging:
    <<: *defaults
    steps:
      - checkout
      - set_up_helm
      - release_to_namespace:
          environment: "staging"
          releaseName: "prisoner-content-hub-proxy"

  deploy_production:
    <<: *defaults
    steps:
      - checkout
      - set_up_helm
      - release_to_namespace:
          environment: "production"
          releaseName: "prisoner-content-hub-proxy"

workflows:
  version: 2
  build-test-deploy:
    jobs:

      - approve_preview_build:
          <<: *feature_branch
          type: approval

      - build_nprrelay_preview:
          <<: *feature_branch
          requires:
            - approve_preview_build

      - deploy_development:
          <<: *feature_branch
          context: prisoner-content-hub-development
          requires:
            - build_nprrelay_preview

      - build_nprrelay_production:
          <<: *main_branch

      - deploy_staging:
          <<: *main_branch
          context: prisoner-content-hub-staging
          requires:
            - build_nprrelay_production

      - approve_deploy_production:
          <<: *main_branch
          type: approval
          requires:
            - deploy_staging

      - deploy_production:
          <<: *main_branch
          context: prisoner-content-hub-prod
          requires:
            - approve_deploy_production
