.gov-uk-dynamic-content {
  p {
    @extend .govuk-body;
  }

  h2 {
    @extend .govuk-heading-l;
  }

  h3 {
    @extend .govuk-heading-m;
  }

  h4 {
    @extend .govuk-heading-s;
  }

  ol {
    @extend .govuk-list, .govuk-list--number;
  }

  ul {
    @extend .govuk-list, .govuk-list--bullet;
  }

  a {
    @extend .govuk-link, .govuk-link--no-visited-state;
  }

  table {
    @extend .govuk-table;
  }

  th {
    @extend .govuk-table__header;
  }

  td {
    @extend .govuk-table__cell;
  }

  strong {
    font-weight: bold;
  }

  blockquote p {
    @extend .govuk-inset-text;
  }

  figcaption {
    @extend .govuk-body;
  }

  img {
    display: block;
    width: auto;
    height: auto;
    max-width: 729px;
  }
}
