<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-m">Browse by series</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="govuk-hub-series">
        <ul>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>
          <li><a href="#" title="Some link goes here" class="govuk-link govuk-link--no-visited-state">Some link goes here</a></li>


        </ul>  
      </nav>  
        
    </div>
  </div>
</section>