<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Browse by series</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="govuk-hub-series">
        <ul>
          {% for item in params.data %}
            <li><a href="{{ item.href }}" title="{{ item.linkText }}" class="govuk-link govuk-link--no-visited-state">{{ item.linkText }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</section>
