<p>{{ params.type | capitalize}}</p>
<div>
  {% if not params.error %}
  <button type="button" class="govuk-button" id="show-balance-{{ params.type }}" onclick="showHiddenBlock('balance-{{ params.type }}')">View balance</button>
  <p id="balance-{{ params.type }}" class="hidden-block-text">{{ params.amount }}</p>
  {% else %}
  <p class="unavailable">Not available</p>
  {% endif %}
</div>
