<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Browse by topic</h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="govuk-hub-topics">
        <ul>
          {% for item in params.data %}
            <li><a href="{{ item.href }}" title="{{ item.linkText }}" class="govuk-link govuk-link--no-visited-state">{{ item.linkText }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</section>
