<section class="hub-topics">
  <dl>
    {% for item in params.data %}
    <div>
      <dt><a href="{{ item.href }}" title="{{ item.linkText }}" class="govuk-link govuk-link--no-visited-state">{{ item.linkText }}</a></dt>
      {% if item.description %}
        <dd>{{ item.description }}</dd>
      {% endif %}
    </div>
    {% endfor %}
  </dl>
</section>
