{% from "../featured-content-item/macro.njk" import hubFeaturedContentItem %}

<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m govuk-hub-you-might-like__title">{{ params.data.category_title }}</h3>
    </div>
  </div>
  <div class="govuk-grid-row content-items">
    {% for name, item in params.data.items %}
      <div class="item {{ item.grid }}">
          {{ hubFeaturedContentItem({
            title: item.title,
            description: item.description,
            size: item.size,
            type: item.type,
            icon: item.icon,
            linkclass: item.linkclass,
            linktext: item.linktext,
            graphic: item.graphic,
            link: item.link
          }) }}
      </div>
    {% endfor %}
  </div>
</section>
