{% from "../featured-content-item/macro.njk" import hubFeaturedContentItem %}

<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-hub-featured-content__category-title">{{ params.data.category_title }}</h1>
    </div>
    <div class="govuk-grid-column-one-third govuk-hub-align-right">
      <a href="{{ params.data.category_link }}" class="govuk-hub-featured-content__category-link govuk-link">More <span class="icon-chevron"></span></a>
    </div>
  </div>
  <div class="govuk-grid-row content-items">
    {% for name, item in params.data.items %}
      <div class="item {{ item.grid }}">
          {{ hubFeaturedContentItem({
            title: item.title,
            description: item.description,
            size: item.size,
            type: item.type,
            icon: item.icon,
            linkclass: item.linkclass,
            linktext: item.linktext,
            graphic: item.graphic,
            link: item.link
          }) }}
      </div>
    {% endfor %}
  </div>
</section>
