{% for event in params.events %}
  {% if loop.first %}
    <div class="govuk-body{% if params.finished %} day-block-finished{% endif %}">
  {% endif %}
  <div class="{% if event.finished %} event-finished{% endif %}{% if event.eventType === 'APP' %} event-appt{% endif %}">
    <div class="timetable-time">{{event.timeString}}</div>
    <div><strong>{{event.description}}</strong> {{event.location}}</div>
  </div>
  {% if loop.last %}
    </div>
  {% endif %}
{% else %}
<div class="govuk-body{% if params.finished %} day-block-finished{% endif %}">
  <div>
    <div class="timetable-time">
    {% if params.timeOfDay === 'morning' %}
    8:00AM - 12:00PM
    {% endif %}
    {% if params.timeOfDay === 'afternoon' %}
    12:00PM - 5:00PM
    {% endif %}
    {% if params.timeOfDay === 'evening' %}
    5:00PM - 10:00PM
    {% endif %}
    </div>
    <div><strong>No activities</strong></div>
  </div>
</div>
{% endfor %}
