{% for event in params.events %}
  {% if loop.first %}
    <div class="govuk-body{% if params.finished %} day-block-finished{% endif %}">
  {% endif %}
  <div class="{% if event.finished %} event-finished{% endif %}{% if event.eventType === 'APP' %} event-appt{% endif %}">
    <div>{{event.timeString}}</div>
    <div><strong>{{event.description}}</strong> {{event.location}}</div>
  </div>
  {% if loop.last %}
    </div>
  {% endif %}
{% else %}
<div class="govuk-body{% if params.finished %} day-block-finished{% endif %}">
  <div>No activities</div>
</div>
{% endfor %}
