/* Epub */

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;

  .area {
    width: 80%;
    height: 80%;
    margin: 5% auto;
    max-width: 1250px;
  }
  .control {
    position: absolute;
    color: $colour-green;
    top: 50%;
    color: #fff;
    background: $colour-green;
    border: 1px solid $colour-green;
    &:hover {
      background: #fff;
      color: $colour-green;
    }
    &.left {
      left: 20px;
    }
    &.right {
      right: 20px;
    }
  }
  .home {
    margin: 5% auto;
    bottom: -30px;
    position: absolute;
    color: #fff;
    background: $colour-green;
    border: 1px solid $colour-green;
    &:hover {
      background: #fff;
      color: $colour-green;
    }

  }
}


