<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <% include ../partials/header %>

  <main id="content" class="app-container" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
          <h1 class="heading-xlarge"><%= data.text %></h1>
      </div>
    </div>
  </main>

  <% include ../partials/footer %>
</body>
</html>
