<header class="govuk-header govuk-hub-page-header" data-module="header">
  <div class="govuk-hub-header__container govuk-width-container govuk-!-padding-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {% if params.user %}
          <div id="hub-auth-header" class="hub-header-user-container">
            <span class="govuk-!-font-weight-bold">{{ params.user.name }}</span>
            <h1>{{ params.appName }}</h1>
          </div>
        {% else %}
          <a href="/" class="govuk-hub-header__link govuk-hub-header__link--homepage">
            <span class="govuk-hub-header__title govuk-body govuk-!-font-weight-bold">{{ params.appName }}</span>
          </a>
        {% endif %}

      </div>
      <div class="govuk-grid-column-one-half govuk-hub-align-right">
        <span data-target-id="todays-date" class="govuk-hub-header__date govuk-body">&nbsp;</span>
        <span data-target-id="todays-time" class="govuk-hub-header__time"></span>
      </div>
    </div>
  </div>
</header>

{% if false %}
  <div class="govuk-hub-header__bottombar">
    <div class="govuk-width-container  govuk-!-margin-bottom-5">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-hub-align-right">
          <ul id="language" class="govuk-hub-language-toggle" aria-label="Language Toggle">
            <li class="govuk-hub-language-toggle__item">
              <a class="govuk-hub-language-toggle__link govuk-hub-language-toggle__link--active" href="{{ item.href }}">
                English
                </a>
            </li>
            <li class="govuk-hub-language-toggle__item">
              <a class="govuk-hub-language-toggle__link" href="{{ item.href }}">
                Cymraeg
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{%- include "../navigation-menu/navigation-menu.njk" -%}
