<header class="govuk-header govuk-hub-header {{ params.classes if params.classes }}" role="banner" data-module="header"
  {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="{{ params.containerClasses }}">

    <div class="govuk-hub-header__topbar">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <a href="{{ params.homepageUrl | default('/') }}" class="govuk-hub-header__link govuk-hub-header__link--homepage">
              <span class="govuk-hub-header__title govuk-body govuk-!-font-weight-bold">Homepage</span>
              <span class="govuk-hub-header__prison">HMP Berwyn</span>
            </a>
          </div>
          <div class="govuk-grid-column-one-half govuk-hub-align-right">
            <span class="govuk-hub-header__date govuk-body">Thursday 31 May</span>
            <span class="govuk-hub-header__time"><strong class="govuk-!-font-weight-bold">16:30</strong></span>
            <a href="#" role="button" class="govuk-button govuk-hub-start-menu">Menu</a>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-hub-header__bottombar">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-hub-align-right">
            <ul id="language" class="govuk-hub-language-toggle" aria-label="Language Toggle">
              <li class="govuk-hub-language-toggle__item">
                  <a class="govuk-hub-language-toggle__link govuk-hub-language-toggle__link--active" href="{{ item.href }}">
                  English
                  </a>
              </li>
              <li class="govuk-hub-language-toggle__item">
                <a class="govuk-hub-language-toggle__link" href="{{ item.href }}">
                  Cymraeg
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
