<header class="govuk-header" data-module="header">
  <div class="govuk-header__container govuk-width-container govuk-!-padding-0">
    <div class="govuk-grid-row govuk-hub-align-items-center">
      <div class="govuk-grid-column-one-half">
        <a href="/" class="govuk-hub-header__link govuk-hub-header__link--homepage">
          <span class="govuk-hub-header__title govuk-body govuk-!-font-weight-bold">{{params.appName}}</span>
        </a>
      </div>
      <div class="govuk-grid-column-one-half govuk-hub-align-right">
        <span data-target-id="todays-date" class="govuk-hub-header__date govuk-body"></span>
        <span data-target-id="todays-time" class="govuk-hub-header__time"></span>
        {% if false %}
          <a id="menu-btn" href="#" role="button" class="govuk-button govuk-hub-start-menu">Menu</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>

 <div class="govuk-width-container govuk-hub-phase-banner">
    <p class="govuk-phase-banner__content" >
      <span class="govuk-phase-banner__text">
        This is an early version of the new Hub. Go back to
        <a class="govuk-link govuk-link--no-visited-state" href="http://digital-hub.bwi.dpn.gov.uk:10001/" target="_blank">access the old content.</a>
      </span>
    </p>
  </div>
  {% if false %}
  <div class="govuk-hub-header__bottombar">
    <div class="govuk-width-container  govuk-!-margin-bottom-5">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-hub-align-right">
          <ul id="language" class="govuk-hub-language-toggle" aria-label="Language Toggle">
            <li class="govuk-hub-language-toggle__item">
                <a class="govuk-hub-language-toggle__link govuk-hub-language-toggle__link--active" href="{{ item.href }}">
                English
                </a>
            </li>
            <li class="govuk-hub-language-toggle__item">
              <a class="govuk-hub-language-toggle__link" href="{{ item.href }}">
                Cymraeg
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 {% endif %}


{% if false %}
{%- include "../navigation-menu/navigation-menu.njk" -%}
{% endif %}

