<div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
    <div class="app-step-nav__controls"></div>
    <ol class="app-step-nav__steps">
        {% for section in params.data %}
          {% set loopNumber = loop.index %}
          <li class="app-step-nav__step js-step step-is-shown" id="before-you-apply">
              <div class="app-step-nav__header js-toggle-panel" data-position="{{loop.index}}">
                  <h2 class="app-step-nav__title">
                      <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                          <span class="app-step-nav__circle-background">
                            <span class="govuk-visually-hidden">Step</span> {{loopNumber}}
                          </span>
                        </span>
                      </span>

                      <span class="js-step-title"><span class="js-step-title-text">
                        {{ section.title }}
                      </span></span>
                    </h2>
              </div>

              <div class="app-step-nav__panel js-panel" id="before-you-apply">
                  <p class="app-step-nav__paragraph">{{section.description}}</p>
                  <ol class="app-step-nav__list " data-length="{{ section.links|length }}">
                      {% for link in section.links %}
                        <li class="app-step-nav__list-item js-list-item ">
                            {% if link.currentPage %}
                              <span data-position="{{loopNumber}}.{{loop.index}}" class="app-step-nav__link js-link govuk-!-font-weight-bold">{{ link.title }}</span>
                            {% else %}
                              <a data-position="{{loopNumber}}.{{loop.index}}" class="app-step-nav__link js-link govuk-link " href="{{link.href}}">{{ link.title }}</a>
                            {% endif %}
                        </li>
                      {% endfor %}
                  </ol>
              </div>
          </li>
        {% endfor %}
    </ol>
</div>
