{% from "../components/header/macro.njk" import pageHeaderWithBack %}
{% from "../components/next-episodes-content/macro.njk" import nextEpisodesContent %}
{% from "../components/related-content/macro.njk" import hubRelatedContent %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <link href="/public/video-js.min.css" rel="stylesheet">
  <!--[if !IE 8]><!-->
    <link href="/public/stylesheets/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->  
{% endblock %}

{% block header %}
  {{ pageHeaderWithBack({
    mainMenu: mainMenu,
    topicsMenu: topicsMenu,
    appName: envVars.APP_NAME,
    features: features
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters govuk-hub-media-player">

    <header class="govuk-hub-media-player__header">
      <img width="100" height="100" id="thumbnail" src="{{ data.image.url }}" alt="{{ data.image.alt }}" class="govuk-hub-media-player__show-tag" />
      <div class="govuk-hub-title-container">
        <p class="govuk-hub-media-player__catgeory govuk-heading-m"><a href="/tags/{{data.seriesId}}" id="series" title="{{ data.seriesName }}" class="govuk-link govuk-hub-media-player__catgeory-link">{{ data.seriesName }}</a></p>
        <h1 id="title" class="govuk-hub-media-player__title govuk-heading-xl govuk-body govuk-!-font-size-36 govuk-body govuk-!-font-weight-bold">{{ data.title }}</h1>
      </div>
    </header>

    <div class="govuk-hub-media-player__player govuk-hub-media-audio">
      <div id="audioPlayer" class="webPlayer light" data-title="{{data.title}}" data-media="{{data.media}}">
        <div id="audioPlayerContainer" class="videoPlayer" data-audio="{{ data.media }}"></div>
      </div>
    </div>

    {{ hubFeedbackWidget({
      title: data.title,
      contentType: data.contentType,
      series: data.seriesName,
      establishment: envVars.APP_NAME
    })}}

    <div class="govuk-hub-media-player__description">
      <div id="body" class="govuk-body">{{ data.description.sanitized | safe }}</div>
      {# <a href="#" title="Play" id="read-more" class="govuk-hub-media-player-item-icon govuk-hub-media-player-item__main-play govuk-link"><span class="icon-link"><span class="path1"></span><span class="path2"></span></span><span class="space">Read more</span></a> #}
    </div>

    <ul id="tags-list" class="govuk-hub-navigation__list govuk-hub-navigation__list--linear govuk-!-margin-bottom-6">
      {% for tagItem in data.tags %}
        <li class="govuk-hub-navigation__list-item govuk-hub-navigation__list-item-topic">
          <a title="{{tagItem.name}}" href="/tags/{{tagItem.id}}">{{tagItem.name}}</a>
        </li>
      {% endfor %}
    </ul>

    <div id="next-episodes" class="govuk-hub-media-player__watch-next">
      {{ nextEpisodesContent({ data: data.season }) }}
    </div>
  </div>
</div>

<script src="/public/jquery.min.js"></script>
<script src="/public/jplayer/jquery.jplayer.min.js"></script>
  <script src="/public/javascript/jplayer.cleanskin.min.js"></script>
  <script src="/public/javascript/audioPlayer.js" type="text/javascript"></script>

{# <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    {{ hubRelatedContent({
      data: youmightlikesmalldata
    }) }}
  </div>
</div> #}


{% endblock %}
