{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../components/user-details/macro.njk" import userDetails %}
{% from "../components/content-tile-large/macro.njk" import contentTileLarge %}
{% from "../components/content-tile-small/macro.njk" import contentTileSmall %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% from "../components/personal-visits/macro.njk" import personalVisits %}
{% from "../components/personal-iep/macro.njk" import personalIncentives %}
{% from "../components/personal-balance/macro.njk" import personalBalances %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block notification %}
  {% if notification %}
    <div class="govuk-width-container">
      <div class="notification">
        {{ govukWarningText({
          text: notification.text,
          iconFallbackText: "Warning"
        }) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentName: establishmentName,
    showBar: false
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetails({
    detailsType: 'small',
    userName: config.userName,
    newDesigns: config.newDesigns
  }) }}
{% endblock %}

{% block header %}
  <div class="govuk-width-container govuk-body govuk-clearfix hub-header">
    <div>
      <h1 class="govuk-heading-l" id="title">{{ title }}</h1>
      <div class="personalised-section">
        {% if config.category === 'visits' %}
          {{ personalVisits({data: data.personalisedData }) }}
        {% endif %}
        {% if config.category === 'iep' %}
          {{ personalIncentives({data: data.personalisedData }) }}
        {% endif %}
        {% if config.category === 'money' %}
          {{ personalBalances({data: data.personalisedData }) }}
        {% endif %}
      </div>
    </div>
    <div class="help-container-tablet">
      <h2 class="govuk-heading-m">In this section</h2>
      <ul class="govuk-body">
        {% for link in data.categoryMenu %}
          <li>
            <a href="{{link.href}}" class="govuk-link">{{link.linkText}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="help-container">
      <div class="help-block">
        <h2 class="govuk-heading-m">In this section</h2>
        <ul class="govuk-body">
          {% for link in data.categoryMenu %}
            <li>
              <a href="{{link.href}}" class="govuk-link">{{link.linkText}}</a>
            </li>
          {% endfor %}
        </ul>
        <h2 class="govuk-heading-m">Give us feedback</h2>
        {{ hubFeedbackWidget({
          contentId: data.id,
          title: data.title,
          contentType: data.contentType,
          establishment: establishmentName,
          sidebar: true,
          feedbackId: feedbackId
        })}}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-body categories-container">
    <h2>Featured</h2>
    <div class="category-content">
      {{ contentTileLarge({content: data.relatedContent.data[0], imageAlign: 'right'}) }}
      {% for tile in data.relatedContent.data %}
        {% if loop.index === 1 or loop.index === 5 %}
          <div class="category-content__three-items">
          {% endif %}
          {% if loop.index > 1 and loop.index <= 7 %}
            {{ contentTileSmall(tile) }}
          {% endif %}
          {% if loop.index === 4 or loop.index === 7 %}
          </div>
        {% endif %}
      {% endfor %}
      {% if data.relatedContent.data.length !== 4 and data.relatedContent.data.length !== 7 and data.relatedContent.data.length < 8 %}
      </div>
    {% endif %}
  </div>
  <div class="feedback-tablet">
    <h2 class="govuk-heading-m">Give us feedback</h2>
    {{ hubFeedbackWidget({
        id: 'feedback-widget-category-tablet',
        contentId: data.id,
        title: data.title,
        contentType: data.contentType,
        sidebar: true,
        feedbackId: feedbackId
      })}}
  </div>
</div>
{% endblock %}

{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% block bodyEnd %}
<script src="/public/all.js"></script>
<script>
  window
    .GOVUKFrontend
    .initAll();
</script>
<!--[if gte IE 9]>
  <script>
  document.documentElement.className = 'js'; // adds class="js" to <html> element
  function fitImg(imgClass) {
    var imgs = document.querySelectorAll(imgClass), length = imgs.length, i;
    for (i = 0; i < length; ++i) {
      var img = imgs[i],
          url = img.src;
      img.parentNode.style.fontSize = '0'; /* counteract extra spacing from inline-block */
      img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
      img.style.backgroundImage = "url('" + url + "')";
      }
    }
  fitImg('.fit-img-landscape');
  </script>
  <![endif]-->
{% endblock %}
