{% from "../components/header/macro.njk" import govukHeaderWithBack %}

{% extends "../components/template.njk" %}


{% block head %}
  <!--[if !IE 8]><!-->
    <link href="/public/stylesheets/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeaderWithBack({}) }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">{{title}}</h1>

          {% for item in data %}
            {% for contentType, content in item %}
              {% if contentType == "heading" %}
                <h2 class="govuk-heading-l">{{content}}</h2>
              {% elif contentType == "leadParagraph" %}
                <p class="govuk-body-l">{{content}}</p>
              {% elif contentType == "paragraph" %}
                <p class="govuk-body">{{content | escape }}</p>
              {% elif contentType == "insertText" %}
                <div class="govuk-inset-text">
                  <strong>{{content}}</strong>
                </div>
              {% elif contentType == "video" %}
                <video id="video1" style="max-width:100%;" controls="">
                  <source src="http://download.blender.org/peach/bigbuckbunny_movies/big_buck_bunny_720p_stereo.ogg" type="video/ogg">
                  <source src="http://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              {% elif contentType == "blockText" %}
                <p class="govuk-body u-block-text">{{content| escape | nl2br}}</p>
              {% elif contentType == "strongParagraph" %}
                <p class="govuk-body"><strong>{{content}}</strong></p>
              {% endif %}
            {% endfor %}

          {% endfor %}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
