{% from "../components/header/macro.njk" import govukHeaderWithBack %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="/public/stylesheets/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeaderWithBack({
    mainMenu: mainMenu,
    topicsMenu: topicsMenu,
    appName: envVars.APP_NAME,
    features: features
  }) }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-two-thirds">
          <h1 id="title" class="govuk-heading-xl govuk-!-margin-bottom-6">{{data.title}}</h1>
          <p id="stand-first" class="govuk-body-l">{{data.standFirst}}</p>
          <div id="body" class="gov-uk-dynamic-content">
            {{data.description.sanitized | safe }}
          </div>
        </div>
      </div>

      {% if (features.showFeedback)%}
      <div class="govuk-hub-article-feedback">
        <p class="govuk-body">Tell us what you think:</p>
        {{ hubFeedbackWidget({
          title: data.title,
          contentType: data.contentType
        })}}
      </div>
      {% endif %}

      {% if backHomeEnabled %}
        <div>
          <a href="/" class="govuk-button">Back to home</a>
        </div>
      {% endif %}
    </main>
  </div>
{% endblock %}
