{% from "../components/header/macro.njk" import pageHeaderWithBreadcrumbs %}
{% from "../components/step-by-step-menu/macro.njk" import hubStepByStepMenu %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="/public/stylesheets/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ pageHeaderWithBreadcrumbs({
    mainMenu: mainMenu,
    topicsMenu: topicsMenu,
    appName: envVars.APP_NAME,
    features: features,
    breadcrumbs: breadcrumbs
  }) }}


{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-body">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
          <h1 id="title" class="govuk-heading-xl govuk-!-margin-bottom-6">{{data.title}}</h1>
          <p id="stand-first" class="govuk-body-l">{{data.standFirst}}</p>
          <div id="body" class="gov-uk-dynamic-content">
            {{data.description.sanitized | safe }}
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">
              <span class="app-step-nav-related__pretitle">Back to</span>
              <a class="govuk-link" href="{{data.rootPath.href}}">
               {{data.rootPath.title}}
              </a>
            </h2>
          </div>

          {{ hubStepByStepMenu({ data: data.menu }) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
