{% from "../components/breadcrumbs/macro.njk" import breadcrumbTrail %}
{% from "../components/step-by-step-menu/macro.njk" import hubStepByStepMenu %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block header %}
  {{ breadcrumbTrail({ breadcrumbs: breadcrumbs }) }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-body">
      <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{data.title}}</h1>
          <p>{{data.standFirst}}</p>

          {{ hubStepByStepMenu({ data: data.menu }) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
