{% from "../components/breadcrumbs/macro.njk" import breadcrumbTrail %}
{% from "../components/step-by-step-menu/macro.njk" import hubStepByStepMenu %}
{% from "../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../components/user-details/macro.njk" import userDetails %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentName: establishmentName,
    showBar: false
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetails({
    detailsType: config.detailsType,
    userName: config.userName,
    newDesigns: config.newDesigns
  }) }}
{% endblock %}

{% block header %}{% endblock %}
{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-body">
      <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{data.title}}</h1>
          <p>{{data.standFirst}}</p>

          {{ hubStepByStepMenu({ data: data.menu }) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
