{% from "../components/breadcrumbs/macro.njk" import breadcrumbTrail %}
{% from "../components/step-by-step-menu/macro.njk" import hubStepByStepMenu %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% from "../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../components/user-details/macro.njk" import userDetails %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentName: establishmentName,
    showBar: false
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetails({
    detailsType: config.detailsType,
    userName: config.userName,
    newDesigns: config.newDesigns
  }) }}
{% endblock %}

{% block header %}{% endblock %}
{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-body">
      <div class="govuk-grid-row">
        <div id="main-content" class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
          <h1 id="title" class="govuk-heading-xl govuk-!-margin-bottom-6 govuk-!-margin-top-3">{{data.title}}</h1>
          <p id="stand-first" class="govuk-body-l">{{data.standFirst}}</p>
          <div id="body" class="gov-uk-dynamic-content">
            {{data.description.sanitized | safe }}
          </div>
          <div class="govuk-hub-article-feedback govuk-!-margin-top-9">
            <p class="govuk-body">Tell us what you think:</p>
            {{ hubFeedbackWidget({
              contentId: data.id,
              title: data.title,
              contentType: 'STEP_BY_STEP',
              series: 'Getting a job',
              feedbackId: feedbackId,
              categories: data.categories,
              secondaryTags: data.secondaryTags
            })}}
          </div>
        </div>

        <div id="side-bar" class="govuk-grid-column-one-third">
          <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">
              <span class="app-step-nav-related__pretitle">Back to</span>
              <a class="govuk-link" href="{{data.rootPath.href}}">
                {{data.rootPath.title}}
              </a>
            </h2>
          </div>

          {{ hubStepByStepMenu({ data: data.menu }) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
