{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/personal-schedule-today/macro.njk" import personalScheduleToday %}
{% from "../components/content-tile-large/macro.njk" import contentTileLarge %}
{% from "../components/content-tile-small/macro.njk" import contentTileSmall %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{envVars.APP_NAME}}
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/govuk/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block notification %}
  {% if notification %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="notification notification--is-error">
            <p>{{notification.text}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block topBar %}
  {{ topBar({
    appName: envVars.APP_NAME,
    showBar: true
  }) }}
{% endblock %}

{% block userDetails %}
  <div class="govuk-width-container">
    {{ userDetails({
      detailsType: config.detailsType,
      userName: config.userName
    }) }}
  </div>
{% endblock %}

{% block homeNavigation %}
  <div class="govuk-width-container home-navigation govuk-!-margin-top-3">
    <div class="home-navigation__actions">
      <div>
        <div class="govuk-clearfix home-navigation__search">
          {{ hubSearch({ query: query }) }}
        </div>
        {{ govukButton({
          text: "Browse all topics",
          href: "/topics",
          isStartButton: true
        }) }}
      </div>
      <div class="popular-topics">
        <h3 class="govuk-heading-s">Popular topics</h3>
        <ul>
          {% for itemtitle, link in popularTopics %}
            <li>
              <a href="{{link}}" class="govuk-link">{{itemtitle}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% if todaysEvents.length > 0 %}
      {{personalScheduleToday({events: todaysEvents, isTomorrow: isTomorrow})}}
    {% endif %}
  </div>
{% endblock %}

{% block search %}{% endblock %}

{% block content %}
  <div class="govuk-width-container govuk-body home-content">
    {{ contentTileLarge({content: featuredContent.upperFeatured, imageAlign: 'right'}) }}
    <div class="home-content__four-items">
      {% for tile in featuredContent.smallTiles %}
        {{ contentTileSmall(tile) }}
      {% endfor %}
    </div>
    {{ contentTileLarge({content: featuredContent.lowerFeatured, imageAlign: 'left'}) }}
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script>window.GOVUKFrontend.initAll();</script>
  <!--[if gte IE 9]>
  <script>
  document.documentElement.className = 'js'; // adds class="js" to <html> element
  function fitImg(imgClass) {
    var imgs = document.querySelectorAll(imgClass), length = imgs.length, i;
    for (i = 0; i < length; ++i) {
      var img = imgs[i],
          url = img.src;
      img.parentNode.style.fontSize = '0'; /* counteract extra spacing from inline-block */
      img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
      img.style.backgroundImage = "url('" + url + "')";
      }
    }
  fitImg('.fit-img-landscape');
  fitImg('.fit-img-portrait');
  </script>
  <![endif]-->
{% endblock %}
