{% from "../components/search/macro.njk" import hubSearch %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/personal-schedule-today/macro.njk" import personalScheduleToday %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{envVars.APP_NAME}}
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/govuk/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block notification %}
  {% if notification %}}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="notification notification--is-error">
            <p>{{notification.text}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block topBar %}
  {{ topBar({
    appName: envVars.APP_NAME,
    showBar: true
  }) }}
{% endblock %}

{% block userDetails %}
  <div class="govuk-width-container">
    {{ userDetails({
      detailsType: config.detailsType,
      userName: config.userName
    }) }}
  </div>
{% endblock %}

{% block homeNavigation %}
  <div class="govuk-width-container home-navigation">
    <div class="home-navigation__actions">
      <div>
        <div class="govuk-clearfix home-navigation__search">
          {{ hubSearch({ query: query }) }}
        </div>
        {{ govukButton({
          text: "Browse all topics",
          href: "/topics",
          isStartButton: true
        }) }}
      </div>
      <div class="popular-topics">
        <h3 class="govuk-heading-s">Popular topics</h3>
        <ul>
          {% for itemtitle, link in popularTopics %}
            <li><a href="{{link}}" class="govuk-link">{{itemtitle}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% if todaysEvents.length > 0 %}
      {{personalScheduleToday(todaysEvents)}}
    {% endif %}
  </div>
{% endblock %}

{% block search %}{% endblock %}

{% block content %}
  <div class="govuk-width-container home-content">
    <a href="/" class="govuk-link">
      <div>
        <h3 class="govuk-heading-l">Your stories:  There is a future for us</h3>
        <p class="home-content-storyline">Powerful, inspirational and honest testimony about forgiveness and hope.</p>
        <p class="content-link--video">Watch</p>
      </div>
      <div class="home-content-img-series">
        <img src="/public/images/neontroids.png" alt="">
      </div>
    </a>
    <div class="govuk-body home-content__four-items">
      <a href="/" class="govuk-link">
        <div class="home-content-img-series">
          <img src="/public/images/neontroids.png" alt="">
        </div>
        <h3 class="govuk-heading-m" style="">Your stories:  There is a future for us</h3>
      </a>
      <a href="/" class="govuk-link">
        <img src="/public/images/neontroids.png" alt="">
        <h3 class="govuk-heading-m">Your stories:  There is a future for us</h3>
      </a>
      <a href="/" class="govuk-link">
        <img src="/public/images/neontroids.png" alt="">
        <h3 class="govuk-heading-m">Your stories:  There is a future for us</h3>
      </a>
      <a href="/" class="govuk-link">
        <img src="/public/images/neontroids.png" alt="">
        <h3 class="govuk-heading-m">Your stories:  There is a future for us</h3>
      </a>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script>window.GOVUKFrontend.initAll();</script>
{% endblock %}
