{% from "../components/back-button/macro.njk" import backButton %}
{% from "../components/related-content/macro.njk" import hubRelatedContent %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block header %}
  {{ backButton() }}
{% endblock %}

{% block main %}
  {{ hubLandingPageHeader({
      title: data.title,
      description: data.description,
      featuredContent: data.featuredContent,
      categoryId: data.categoryId,
      categoryMenu: data.categoryMenu
    })
  }}
{% endblock %}

{% block content %}
  {% if data.relatedContent.data | length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m govuk-hub-related-content__title">Featured</h3>
      </div>
    </div>

    {{ hubRelatedContent({
      id: data.categoryId,
      data: data.relatedContent,
      lazyLoadContent: false
    }) }}
  {% endif %}
{% endblock %}
