{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../components/topics/macro.njk" import hubTopics %}
{% from "../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../components/user-details/macro.njk" import userDetails %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block notification %}
  {% if notification %}
    <div class="govuk-width-container">
      <div class="notification">
        {{ govukWarningText({
          text: notification.text,
          iconFallbackText: "Warning"
        }) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentName: establishmentName,
    showBar: false,
    userName: config.userName,
    returnUrl: config.returnUrl
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetails({
    detailsType: config.detailsType,
    userName: config.userName,
    newDesigns: config.newDesigns
  }) }}
{% endblock %}

{% block header %}
  <div class="govuk-width-container govuk-body">
    <h1>{{ title }}</h1>
  </div>
{% endblock %}

{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% block main %}
  <div class="govuk-width-container">
  {% if config.userName %}
  <p class="govuk-body">You are already logged in.</p>
  {% else %}
    <form method="post" action="/auth/login">
    <input type="hidden" name="returnUrl" value="{{ config.returnUrl }}" />
    {{ govukInput({
      label: {
        text: "Username"
      },
      classes: "govuk-!-width-one-half",
      id: "username",
      name: "username"
    }) }}
    <div style="display: flex; align-items: flex-end;">
      <div style="flex: 1 0 50%;">
      {{ govukInput({
        label: {
          text: "Password"
        },
        type: "password",
        id: "password",
        name: "password"
      }) }}
      </div>
      <div style="flex: 1 0 50%; padding-left: 10px;">
        {{ govukButton({
          text: "Show",
          classes: "govuk-button--secondary",
          type: "button"
        }) }}
      </div>
    </div>
    <div style="width: 50%;">
    {{ govukDetails({
      summaryText: "Forgotten username or password?",
      html: "<p>Your username and password are the same as you use to sign in to your laptop.</p><p>If you cannot remember your username and password please report this to a digital champion or send an app to IT.</p>"
    }) }}
    </div>
    {{ govukButton({
      text: "Sign in",
      isStartButton: true,
      type: "submit"
    }) }}
    </form>
  {% endif %}
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script>
    window
      .GOVUKFrontend
      .initAll();
  </script>
{% endblock %}
