{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/back-button/macro.njk" import backButton %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% from "../components/personal-keyworker/macro.njk" import personalKeyworker %}
{% from "../components/personal-balance/macro.njk" import personalBalances %}
{% from "../components/personal-iep/macro.njk" import personalIncentives %}
{% from "../components/personal-visits/macro.njk" import personalVisits %}
{% from "../components/personal-important-dates/macro.njk" import personalImportantDates %}
{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block header %}
  {{ backButton() }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <h2 class="govuk-heading-l">Your essential prison information</h2>
      <div class="govuk-grid-row">
        {{ personalBalances(data.balances) }}
        {{ personalIncentives(data.iePSummary) }}
        {{ personalKeyworker(data.keyWorker) }}
        {{ personalVisits(data.visits) }}
        {{ personalImportantDates(data.importantDates) }}
      </div>
    </div>
  </div>

{% endblock %}
