{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% extends "../components/template.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../components/user-details/macro.njk" import userDetails %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentName: establishmentName,
    showBar: false
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetails({
    detailsType: config.detailsType,
    userName: config.userName,
    newDesigns: config.newDesigns
  }) }}
{% endblock %}

{% block header %}{% endblock %}
{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="results">
            {% if data[0] %}
              <h3 class="govuk-heading-m">Showing results for "{{ query }}"</h3>
              <ul class="govuk-list">
                {% for item in data %}
                  <li>
                    <a class="govuk-link" href="{{item.url}}">
                      <span class="govuk-!-font-weight-bold">{{ item.title }}</span>
                      <p class="govuk-body">
                        {% if item.summary %}{{ item.summary }}
                        {% else %}No summary available{% endif%}
                        </p>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <h3 class="govuk-heading-m">No results found for "{{ query }}"</h3>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container govuk-hub-article-feedback govuk-!-margin-top-9">
    <p class="govuk-body">This is an early version of search, tell us what you think:</p>
    {{ hubFeedbackWidget({
      title: "Search - " + query,
      contentType: 'search',
      establishment: establishmentName
    })}}
  </div>

{% endblock %}

{%block matomo %}
  <script>
    _paq.push(['trackSiteSearch', '{{ query }}', false, "{{ data | length }}"]);
  </script>
{% endblock %}
