{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/back-button/macro.njk" import backButton %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% extends "../components/template.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/govuk/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ backButton() }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="results">
            {% if data[0] %}
              <h3 class="govuk-heading-m">Showing results for "{{ query }}"</h3>
              <ul class="govuk-list">
                {% for item in data %}
                  <li>
                    <a class="govuk-link" href="{{item.url}}">
                      <span class="govuk-!-font-weight-bold">{{ item.title }}</span>
                      <p class="govuk-body">
                        {% if item.summary %}{{ item.summary }}
                        {% else %}No summary available{% endif%}
                        </p>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <h3 class="govuk-heading-m">No results found for "{{ query }}"</h3>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container govuk-hub-article-feedback govuk-!-margin-top-9">
    <p class="govuk-body">This is an early version of search, tell us what you think:</p>
    {{ hubFeedbackWidget({
      title: "Search - " + query,
      contentType: 'search',
      establishment: envVars.APP_NAME
    })}}
  </div>

{% endblock %}

{%block matomo %}
  <script>
    _paq.push(['trackSiteSearch', '{{ query }}', false, "{{ data | length }}"]);
  </script>
{% endblock %}
