{% from "../components/header/macro.njk" import govukHeaderWithBack %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ data.title }}
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="/public/stylesheets/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeaderWithBack({
    mainMenu: mainMenu,
    topicsMenu: topicsMenu,
    appName: envVars.APP_NAME,
    features: features
  }) }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-body">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
          <h1 class="govuk-heading-xl">
            The jobs notice board
          </h1>
          <p class="govuk-!-font-size-27">The available jobs are listed weekly, on a Monday on the jobs noticeboard on Unilink.</p>
          <p>There will also be notices about available jobs, from time-to-time on Unilink messages. So look out for those too.</p>
          <p class="govuk-heading-m"><br>If you are unemployed</br></p>
          <p>If you are classed as unemployed, you will be sent a full list of available jobs each week.</p>
          <a href="#" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Check notice board</a>
        </div>

        <div class="govuk-grid-column-one-third">

          <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">
              <span class="app-step-nav-related__pretitle">Back to</span>
              <a class="govuk-link" href="#">
                Working in Berwyn 
              </a>
            </h2>
          </div>

          <div id="step-by-step-navigation" data-module="gemstepnav" class="app-step-nav  app-step-nav--active" data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show" data-hide-text="hide" data-show-all-text="Show all" data-hide-all-text="Hide all"><div class="app-step-nav__controls"></div>
            <ol class="app-step-nav__steps">
              <li class="app-step-nav__step js-step" data-show="" id="check-berwyn's-job-opportunities">
                <div class="app-step-nav__header js-toggle-panel" data-position="1">
                  <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="app-step-nav__circle-background">
                          <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 1
                          <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                        </span>
                      </span>
                    </span>

                    <span class="js-step-title">
                      Check Berwyn's job opportunities
                    </span>
                  </h3>
                </div>

                <div class="app-step-nav__panel js-panel" id="check-berwyn's-job-opportunities">
                  <p class="app-step-nav__paragraph">The available jobs are listed weekly, on a Monday on the jobs noticeboard on Unilink.</p>
                    
                  <ol class="app-step-nav__list " data-length="4">
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="1.1" class="app-step-nav__link js-link govuk-link " href="#">The jobs notice board</a>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="1.2" class="app-step-nav__link js-link govuk-link" href="#">English and maths assessment</a>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="1.3" class="app-step-nav__link js-link govuk-link" href="#">Working hours </a>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="1.4" class="app-step-nav__link js-link govuk-link" href="#">Your pay for work </a>
                    </li>
                  </ol>
                </div>

              </li>
          
              <li class="app-step-nav__step js-step step-is-shown" id="applying-for-the-jobs-you-want">
              
                <div class="app-step-nav__header js-toggle-panel" data-position="2">
                  <h2 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="app-step-nav__circle-background">
                          <span class="govuk-visually-hidden">Step</span> 2
                        </span>
                      </span>
                    </span>

                    <span class="js-step-title"><span class="js-step-title-text">
                      Applying for the jobs you want
                    </span></span>
                  </h2>
                </div>

                <div class="app-step-nav__panel js-panel" id="applying-for-the-jobs-you-want">
                <p class="app-step-nav__paragraph">Send 1 app to Activities with the all the jobs you want listed in your preference order.</p>
                  <ol class="app-step-nav__list " data-length="2">
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="2.1" class="app-step-nav__link js-link govuk-link" href="#">How to write your job application</span></a>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="2.2" class="app-step-nav__link js-link govuk-link" href="#">Selection criteria and security checks</span></a>
                    </li>
                  </ol>
                </div>

              </li>
              
              <li class="app-step-nav__step js-step step-is-shown" id="After-youve-applied-for-a-job">
                <div class="app-step-nav__header js-toggle-panel" data-position="3">
                  <h2 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="app-step-nav__circle-background">
                          <span class="govuk-visually-hidden">Step</span> 3
                        </span>
                      </span>
                    </span>

                    <span class="js-step-title"><span class="js-step-title-text">
                      After you’ve applied for a job
                    </span></span>
                  </h2>
                </div>

                <div class="app-step-nav__panel js-panel" id="After-youve-applied-for-a-job">
                  <p class="app-step-nav__paragraph">The available jobs are listed weekly, on a Monday on the jobs noticeboard on Unilink.</p>

                  <ol class="app-step-nav__list " data-length="4">
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="3.1" class="app-step-nav__link js-link govuk-link" href="#">Job allocation </a>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="3.2" class="app-step-nav__link js-link govuk-link" href="#">Pay while you’re waiting to be allocated </a>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="3.3" class="app-step-nav__link js-link govuk-link" href="#">If you’re allocated your second choice </a>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="3.4" class="app-step-nav__link js-link govuk-link" href="#">The waiting list </a>
                    </li>
                  </ol>
                </div>

              </li>
        
              <li class="app-step-nav__step js-step step-is-shown" id="How-to-resolve-problems">
                <div class="app-step-nav__header js-toggle-panel" data-position="4">
                  <h2 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="app-step-nav__circle-background">
                            <span class="govuk-visually-hidden">Step</span> 4
                        </span>
                      </span>
                    </span>

                    <span class="js-step-title"><span class="js-step-title-text">
                      Once you're working
                    </span></span>
                  </h2>
                </div>

                <div class="app-step-nav__panel js-panel" id="How-to-resolve-problems">
                  <p class="app-step-nav__paragraph">How to resolve problems.</p>
                  <ol class="app-step-nav__list " data-length="3">
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="4.1" class="app-step-nav__link js-link govuk-link" href="#">Your pay is wrong </a>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <a data-position="4.2" class="app-step-nav__link js-link govuk-link" href="#">How to make a complaint about a job </a>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <a rel="external" data-position="4.3" class="app-step-nav__link js-link govuk-link" href="#">You want to change jobs </a>
                    </li>
                  </ol>
                </div>

              </li>
            </ol>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
