{% from "../components/header/macro.njk" import pageHeader %}
{% from "../components/back-button/macro.njk" import backButton %}
{% from "../components/sub-menu/macro.njk" import hubSubMenu %}
{% from "../components/secondary-tag-page-header/macro.njk" import secondaryTagPageHeader %}
{% from "../components/related-content/macro.njk" import hubRelatedContent %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ data.name }}
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  <script src="/public/jquery.min.js"></script>
  <script src="/public/jplayer/jquery.jplayer.min.js"></script>
  <script src="/public/javascript/jplayer.cleanskin.min.js"></script>
{% endblock %}

{% block header %}
  {{ pageHeader({
  mainMenu: mainMenu,
  topicsMenu: topicsMenu,
  appName: envVars.APP_NAME,
  features: features
  }) }}
  {{ backButton() }}
{% endblock %}

{% block main %}
  {{ secondaryTagPageHeader({
      title: data.name,
      summary: data.summary,
      description: data.description,
      categoryId: tagId,
      image: data.image,
      audio: data.audio,
      video: data.video
    })
  }}
{% endblock %}

{% block content %}
  {{ hubRelatedContent({
    id: tagId,
    data: data.relatedContent,
    lazyLoadContent: true
  }) }}

  <div class="govuk-form-group govuk-!-margin-bottom-2">
    {% if data.contentType =='series'%}
      <p class="govuk-hub-article-feedback govuk-hub-feedback-text">Tell us what you think about this series:</p>
    {% endif %}

    {% if data.contentType =='tags'%}
      <p class="govuk-hub-article-feedback govuk-hub-feedback-text">Tell us what you think about this topic:</p>
    {% endif %}
    {{ hubFeedbackWidget({
        title: data.title,
        contentType: data.contentType,
        series: data.name,
        establishment: envVars.APP_NAME
      })}}
  </div>

{% endblock %}
