{% from "../components/tag-page-header/macro.njk" import tagPageHeader %}
{% from "../components/related-content/macro.njk" import hubRelatedContent %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% from "../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../components/user-details/macro.njk" import userDetails %}

{% extends "../components/template.njk" %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentName: establishmentName,
    showBar: false,
    userName: config.userName,
    returnUrl: config.returnUrl
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetails({
    detailsType: config.detailsType,
    userName: config.userName,
    newDesigns: config.newDesigns
  }) }}
{% endblock %}

{% block header %}{% endblock %}
{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block main %}
  {{ tagPageHeader({
      title: data.name,
      summary: data.summary,
      description: data.description,
      categoryId: tagId,
      image: data.image,
      audio: data.audio,
      video: data.video
    })
  }}
{% endblock %}

{% block content %}
  {{ hubRelatedContent({
    id: tagId,
    data: data.relatedContent,
    lazyLoadContent: true
  }) }}

  <div class="govuk-form-group govuk-!-margin-bottom-2">
    {% if data.contentType =='series'%}
      <p class="govuk-hub-article-feedback govuk-hub-feedback-text">Tell us what you think about this series:</p>
    {% endif %}

    {% if data.contentType =='tags'%}
      <p class="govuk-hub-article-feedback govuk-hub-feedback-text">Tell us what you think about this topic:</p>
    {% endif %}
    {{ hubFeedbackWidget({
      contentId: data.id,
      title: data.title,
      name: data.name,
      contentType: data.contentType,
      series: data.name,
      feedbackId: feedbackId,
      categories: data.categories,
      secondaryTags: data.secondaryTags
    })}}
  </div>

{% endblock %}

{% block bodyEnd %}
  <script src="/public/jplayer/jquery.jplayer.min.js"></script>
  <script src="/public/javascript/jplayer.cleanskin.min.js"></script>
{% endblock %}
