{% from "../components/header/macro.njk" import pageHeaderWithBack %}
{% from "../components/sub-menu/macro.njk" import hubSubMenu %}
{% from "../components/landing-page-header/macro.njk" import hubLandingPageHeader %}
{% from "../components/related-content/macro.njk" import hubRelatedContent %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ data.name }}
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="/public/stylesheets/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
{{ pageHeaderWithBack({
        mainMenu: mainMenu,
        topicsMenu: topicsMenu,
        appName: envVars.APP_NAME,
        features: features
  }) }}
{% endblock %}

{% block main %}
  {{ hubLandingPageHeader({
      title: data.name,
      description: data.description,
      categoryId: tagId
    })
  }}
{% endblock %}

{% block content %}
  {{ hubRelatedContent({
    id: tagId,
    data: data.relatedContent
  }) }}
{% endblock %}
