{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/personal-schedule-one-day/macro.njk" import personalScheduleOneDay %}
{% from "../components/personal-schedule-nav/macro.njk" import personalScheduleNav %}
{% from "../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../components/user-details-with-search/macro.njk" import userDetailsWithSearch %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/govuk/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block notification %}
  {% if notification %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="notification notification--is-error">
            <p>{{notification.text}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    appName: envVars.APP_NAME,
    showBar: false
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetailsWithSearch({
    detailsType: config.detailsType,
    userName: config.userName,
    query: query,
    small: true
  }) }}
{% endblock %}

{% block header %}
  <div class="govuk-width-container govuk-body timetable-header">
    <h1>{{ title }}</h1>
    {{ personalScheduleNav({ nextWeek: config.nextWeek, lastWeek: config.lastWeek }) }}
  </div>
{% endblock %}

{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% block timetable %}
  {{personalScheduleOneDay(events | first)}}
  <div class="govuk-width-container govuk-body timetable-header timetable-footer">
    {{ personalScheduleNav({ nextWeek: config.nextWeek, lastWeek: config.lastWeek }) }}
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script>window.GOVUKFrontend.initAll();</script>
{% endblock %}
