{% from "../components/search/macro.njk" import hubSearch %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/personal-schedule-one-day/macro.njk" import personalScheduleOneDay %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{envVars.APP_NAME}}
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/govuk/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block notification %}
  {% if notification %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="notification notification--is-error">
            <p>{{notification.text}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block topBar %}
  {{ topBar({
    appName: envVars.APP_NAME,
    showBar: false
  }) }}
{% endblock %}

{% block pageNav %}
  <div style="background-color: #F8F8F8;">
    <nav class="govuk-width-container govuk-body" style="display: flex; align-items: center; padding: 10px 0;">
      <a href="/" class="govuk-link" style="padding-right: 25px;">Homepage</a>
      <span style="font-weight: 700; padding-right: 25px;">Timetable</span>
      <a href="" class="govuk-link" style="padding-right: 25px;">Back</a>
      <a href="" class="govuk-link">Forward</a>
    </nav>
  </div>
{% endblock %}

{% block userDetails %}
  <div class="govuk-width-container" style="display: flex; align-items: center;">
    <div style="flex: 1 0 50%;">
      {{ userDetails({
        detailsType: config.detailsType,
        userName: config.userName
      }) }}
    </div>
    <div class="govuk-clearfix" style="flex: 1 0 50%;">
      {{ hubSearch({ query: query, small: true }) }}
    </div>
  </div>
  <div class="govuk-width-container">
    <hr class="govuk-section-break govuk-search-section-break--visible">
  </div>
{% endblock %}

{% block header %}
  <div class="govuk-width-container govuk-body" style="display: flex; align-items: center;">
    <h1 style="flex: 1 0 50%; font-size: 48px;">Timetable</h1>
    <nav style="flex: 1 0 50%; text-align: right;">
      <a href="/" class="govuk-link" style="">Last week</a>
      <span style="font-weight: 700; padding-left: 25px;">This week</span>
      <a href="" class="govuk-link" style="padding-left: 25px;">Next week</a>
    </nav>
  </div>
{% endblock %}

{% block homeNavigation %}{% endblock %}

{% block search %}{% endblock %}

{% block timetable %}
  {{personalScheduleOneDay(events | first)}}
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script>window.GOVUKFrontend.initAll();</script>
{% endblock %}
