{% from "../components/header/macro.njk" import govukHeaderWithBack %}
{% from "../components/video-content/macro.njk" import hubVideoContent %}
{% from "../components/you-might-like/macro.njk" import hubYouMightLike %}

{% extends "../components/template.njk" %}


{% block head %}
  <link href="/public/video-js.min.css" rel="stylesheet">

  <!--[if !IE 8]><!-->
    <link href="/public/stylesheets/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
  
  <script src="/public/video.min.js"></script>

{% endblock %}

{% block header %}
  {{ govukHeaderWithBack({}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-hub-media-player">

    <header class="govuk-hub-media-player__header">
      <img src="public/images/video-show-tag.jpg" alt="Radio program name" class="govuk-hub-media-player__show-tag">
      <p class="govuk-hub-media-player__catgeory govuk-heading-m"><a href="#" title="" class="govuk-link govuk-hub-media-player__catgeory-link">Timewise</a></p>
      <h2 class="govuk-hub-media-player__title govuk-heading-xl">2. Working Together: Conditions of Success</h2>
    </header>

    <section class="govuk-hub-media-player__player">
      <video
        controls 
        poster="public/images/video-thumbnail.jpg" 
        id="my-player" 
        class="video-js vjs-default-skin vjs-16-9"
        data-setup="{ 
          'fluid': true
        }"
      >
        <source src="public/media/video.mp4" type="video/mp4" />
      </video>
    </section>

    <section class="govuk-hub-media-player__description">
      <p class="govuk-body">To achieve our goals we all need to agree to do a few things when we work together. This clip introduces the conditions of success: active, open, supportive and respectful participation. </p>
      <p class="govuk-body">The clip describes what each condition is and why it is important for successful working together. What do these conditions mean for you? How can you use them? How can they help you to achieve your goals?</p>
      <a href="#" title="Play" id="read-more" class="govuk-hub-media-player-item-icon govuk-hub-media-player-item__main-play govuk-link"><span class="icon-link"><span class="path1"></span><span class="path2"></span></span><span class="space">Read more</span></a>
    </section>

    <section class="govuk-hub-media-player__watch-next">
      {{ hubVideoContent({
        data: watchnextdata
      }) }}
    </section>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    {{ hubYouMightLike({
      data: youmightlikesmalldata
    }) }}
  </div>
</div>


{% endblock %}
