<div id="{{ params.id|default('feedback-widget', true) }}"
      data-item-name="{{params.name}}"
      data-item-type="{{params.contentType}}"
      data-item-title="{{ params.title|default(params.name, true) }}"
      data-item-series="{{params.series}}"
      data-item-tags="{{params.secondaryTags}}"
      data-item-categories="{{params.categories}}"
      data-item-feedback-id="{{params.feedbackId}}"
  >
  <div class="govuk-hub-feedback">
    <button data-feedback-sentiment
      class="govuk-link govuk-hub-thumbs govuk-hub-thumbs--up"
      value="LIKE"
      type="button"
    ></button>

    <button data-feedback-sentiment
      class="govuk-link govuk-hub-thumbs govuk-hub-thumbs--down"
      value="DISLIKE"
      type="button"
    ></button>
  </div>
  <div class="govuk-hub-feedback-text">
    <strong data-item-feedback-text></strong>
  </div>
  <form
    data-feedback-form
    class="govuk-hub-comment-form govuk-u-hidden {% if params.sidebar %} govuk-hub-comment-form__sidebar {% endif %} "
  >
    <div class="govuk-form-group govuk-!-margin-bottom-2">
      <label id="more-detail" class="govuk-hint">
        <strong>Is there anything else you want to tell us about it?</strong>
      </label>
      <p class="govuk-body govuk-hub-text">Feedback is treated anonymously, unless it breaks prison rules or raises safety concerns.</p>
      <textarea data-feedback-comment class="govuk-textarea govuk-!-margin-bottom-0 govuk-!-padding-2" id="more-detail" name="value" rows="4" placeholder="Optional" maxlength="240" required></textarea>
    </div>
    <div class="govuk-hub-comment-form__footer">
      <div class="govuk-hub-comment-counter">
        <span data-feedback-comment-counter >240</span> characters left</div>
      <button type="submit" class="govuk-button">Send</button>
    </div>
  </form>
</div>
<script defer src="/public/javascript/feedback-tracking.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    feedbackTracker('{{ params.id|default("feedback-widget", true) }}');
  });
</script>
