<div id="feedback-widget">
  <div class="govuk-hub-feedback">
    <div
      class="govuk-hub-thumbs govuk-hub-thumbs--up"
      data-item-feedback
      data-item-category="{{params.contentType}}"
      data-item-name="{{ params.title }}"
      data-item-action="LIKE"
      data-item-value="1"
      data-item-series="{{params.series}}"
      data-item-establishment="{{params.establishment}}"
    ></div>

    <div
      class="govuk-hub-thumbs govuk-hub-thumbs--down"
      data-item-feedback
      data-item-category="{{params.contentType}}"
      data-item-name="{{ params.title }}"
      data-item-action="DISLIKE"
      data-item-value="-1"
      data-item-series="{{params.series}}"
      data-item-establishment="{{params.establishment}}"
    ></div>
  </div>
  <div class="govuk-hub-feedback-text">
    <strong data-item-feedback-text></strong>
  </div>
  <form
    class="govuk-hub-comment-form govuk-u-hidden"
    data-item-comment
    data-item-category="{{params.contentType}}"
    data-item-name="{{ params.title }}"
    data-item-action=""
    data-item-value=""
    data-item-series="{{params.series}}"
    data-item-establishment="{{params.establishment}}"
  >
    <div class="govuk-form-group govuk-!-margin-bottom-2">
      <label id="more-detail" class="govuk-hint">
        <strong>Is there anything else you want to tell us about it?</strong>
      </label>
      <p class="govuk-body govuk-hub-text">We can only act on comments about this content. All feedback is anonymous.</p>
      <textarea data-item-comment-box class="govuk-textarea govuk-!-margin-bottom-0 govuk-!-padding-2" id="more-detail" name="value" rows="4" placeholder="Optional" maxlength="240" required></textarea>
    </div>
    <div class="govuk-hub-comment-form__footer">
      <div class="govuk-hub-comment-counter"><span data-item-counter>240</span> characters left</div>
      <button type="submit" class="govuk-button">Send</button>
    </div>
  </form>
</div>
<script defer src="/public/javascript/feedback-tracking.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', function() {
    feedbackTracker(document.getElementById('feedback-widget'));
  });
</script>
