<div id="feedback-widget">
  <div class="govuk-hub-feedback">
    <div 
      class="govuk-hub-thumbs govuk-hub-thumbs--up" 
      data-item-feedback
      data-item-category="{{params.contentType}}" 
      data-item-name="{{ params.title }}"
      data-item-action="LIKE"
      data-item-value="1"
    ></div>

    <div 
      class="govuk-hub-thumbs govuk-hub-thumbs--down" 
      data-item-feedback
      data-item-category="{{params.contentType}}" 
      data-item-name="{{ params.title }}"
      data-item-action="DISLIKE"
      data-item-value="-1"
    ></div>
  </div>
  <div class="govuk-hub-feedback-text">
    <strong data-item-feedback-text></strong>
  </div>
  <form
    class="govuk-hub-comment-form govuk-u-hidden"
    data-item-comment
    data-item-category="" 
    data-item-name=""
    data-item-action=""
  >
    <div class="govuk-form-group govuk-!-margin-bottom-2">
      <label id="more-detail" class="govuk-hint govuk-!-margin-bottom-0">
        Is there anything else you want to tell us about it? For example, you think it is in the wrong section.
      </label>
      <textarea data-item-comment-box class="govuk-textarea govuk-!-margin-bottom-0 govuk-!-padding-2" id="more-detail" name="value" rows="4" placeholder="Optional" maxlength="240"></textarea>
    </div>
    <div class="govuk-hub-comment-form__footer">
      <div class="govuk-hub-comment-counter"><span data-item-counter>240</span> characters left</div>
      <button type="submit" class="govuk-button">Send</button>
    </div>
  </form>
</div>
<script defer src="/public/javascript/feedback-tracking.js" type="text/javascript"></script>
