<div class="page-navigation">
  <nav class="govuk-width-container govuk-body">
    <a href="/" class="govuk-link">Homepage</a>
    <a href="" class="govuk-link" id="go-back">Back</a>
    <a href="" class="govuk-link" id="go-forwards">Forward</a>
  </nav>
</div>
