{% from "../content-tile-small/macro.njk" import contentTileSmall %}

{% if params.data | length %}
<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-hub-featured-content__category-title">You might like</h3>
    </div>
  </div>
  <div class="home-content__four-items">
    {% for item in params.data %}
      {{ contentTileSmall({
        id: item.id,
        title: item.title,
        contentType: item.contentType,
        image: item.image,
        contentUrl: item.contentUrl
      }) }}
    {% endfor %}
  </div>
</section>
{% endif %}
