{% from "../featured-content-item/macro.njk" import hubFeaturedContentItem %}

{% if params.data | length %}
<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-hub-featured-content__category-title">You might like</h3>
    </div>
  </div>
  <div class="govuk-grid-row content-items">
    {% for item in params.data %}
      <div class="item govuk-grid-column-one-quarter">
        {{
          hubFeaturedContentItem({
            id: item.id,
            title: item.title,
            summary: item.summary,
            size: "small",
            type: params.contentType,
            contentType: item.contentType,
            graphic: item.image,
            duration: item.duration,
            contentUrl: item.contentUrl
          })
        }}
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}
