{% from "components/skip-link/macro.njk" import govukSkipLink %}
{% from "./search/macro.njk" import hubSearch %}
{% from "./header/macro.njk" import pageHeader %}
{% from "./footer/macro.njk" import govukFooter %}
{% from "components/landing-page-header/macro.njk" import hubLandingPageHeader %}

<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}" class="govuk-template {{ htmlClasses }}">
  <head>
    <meta charset="utf-8"/>
    <title>
      {% block pageTitle %}{{envVars.APP_NAME}}
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}"/>
    {# Hardcoded value of $govuk-black #}

    {% block head %}{% endblock %}

    {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
    <meta property="og:image" content="{{ assetPath | default('/assets') }}/images/govuk-opengraph-image.png">
    <!-- Matomo -->
    <script>
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      _paq.push(['enableJSErrorTracking']);
      (function () {
        var u = "//{{envVars.MATOMO_URL}}/";
        _paq.push([
          'setTrackerUrl', u + 'piwik.php'
        ]);
        _paq.push(['setSiteId', '1']);
        var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s
          .parentNode
          .insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
    <script src="/public/javascript/polyfills.js"></script>
  </head>
  <body class="govuk-template__body {{ bodyClasses }}">
    <script>
      document.body.className = (
        (document.body.className)
        ? document.body.className + ' js-enabled'
        : 'js-enabled');
    </script>
    {% block bodyStart %}{% endblock %}

    {% block skipLink %}
      {{ govukSkipLink({
        href: '#main-content',
        text: 'Skip to main content'
      }) }}
    {% endblock %}

    {{ pageHeader({
        mainMenu: mainMenu,
        topicsMenu: topicsMenu,
        appName: envVars.APP_NAME,
        features: features,
        user: user
      }) }}

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ hubSearch({ query: query }) }}
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-search-section-break--visible">
    </div>

    {% block header %}{% endblock %}

    {% if config.header %}
      <div class="govuk-hub-header__background {{ data.headerClass }}">
        <div class="govuk-width-container">
          {% block beforeContent %}{% endblock %}
          {% if user %}
            {% block todaysEvents %}{% endblock %}
          {% endif %}
          <header class="govuk-main-wrapper" id="header-content">
            {% block promotedContent %}{% endblock %}
            {% block subMenu %}{% endblock %}
          </header>
        </div>
      </div>
    {% endif %}

    {% block main %}{% endblock %}

    {% if config.content %}
      <div class="black-background govuk-!-margin-bottom-0 govuk-!-padding-top-5 govuk-!-padding-bottom-8">
        <div class="govuk-width-container">
          <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content">
            {% block content %}{% endblock %}
          </main>
        </div>
      </div>
    {% endif %}

    {% if config.postscript %}
      {% block postscript %}{% endblock %}
    {% endif %}

    {% block footer %}
      {{ govukFooter({}) }}
    {% endblock %}

    <script src="/public/jquery.min.js"></script>
    <script src="/public/javascript/all.js"></script>
    <script src="/public/javascript/hub.js"></script>
    <script src="/public/javascript/vendors/typeahead.bundle.min.js"></script>
    <script src="/public/javascript/search.js"></script>

    {% block bodyEnd %}{% endblock %}

  </body>
</html>
