{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "./search/macro.njk" import hubSearch %}
{% from "./header/macro.njk" import pageHeader %}
{% from "./top-bar/macro.njk" import topBar %}
{% from "./user-details/macro.njk" import userDetails %}

<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}" class="govuk-template {{ htmlClasses }}">
  <head>
    <meta charset="utf-8"/>
    <title>{% block pageTitle %}{{establishmentName}}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}"/>
    <meta name="robots" content="noindex, nofollow, noimageindex">
    {# Hardcoded value of $govuk-black #}

    {% block head %}{% endblock %}

    {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
    <meta property="og:image" content="{{ assetPath | default('/assets') }}/images/govuk-opengraph-image.png">

    <script src="/public/javascript/polyfills.js"></script>
  </head>
  <body class="govuk-template__body {{ bodyClasses }}">
    <script>
      document.body.className = (
        (document.body.className)
        ? document.body.className + ' js-enabled'
        : 'js-enabled');
    </script>
    {% block bodyStart %}{% endblock %}

    {{ govukSkipLink({
      href: '#main-content',
      text: 'Skip to main content'
    }) }}

    {% block topBar %}
      {{ topBar({
        establishmentName: establishmentName,
        showBar: false
      }) }}
    {% endblock %}
    {% block pageNavigation %}{% endblock %}

    {% block notification %}{% endblock %}

    {% block userDetails %}{% endblock %}
    {% block homeNavigation %}{% endblock %}

    {% block search %}
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-margin-top-2">
            {{ hubSearch({ query: query }) }}
          </div>
        </div>
        {% if not config.newDesigns %}
          <hr class="govuk-section-break govuk-section-break--m govuk-search-section-break--visible">
        {% endif %}
      </div>
    {% endblock %}
    {% block header %}{% endblock %}

    {% block main %}{% endblock %}

    {% block timetable %}{% endblock %}

    {% if config.content %}
      <div class="black-background">
        <div class="govuk-width-container">
          <main class="govuk-main-wrapper" id="main-content">
            {% block content %}{% endblock %}
          </main>
        </div>
      </div>
    {% endif %}

    {% if config.postscript %}
      {% block postscript %}{% endblock %}
    {% endif %}

    {% block footer %}
      <footer class="govuk-footer" role="contentinfo">
        <div class="govuk-width-container ">
          <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
              <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
                <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
              </svg>
              <span class="govuk-footer__licence-description">
                All content is available under the Open Government Licence v3.0, except where otherwise stated
              </span>
            </div>
            <div class="govuk-footer__meta-item govuk-footer__copyright-logo">© Crown copyright</div>
          </div>
        </div>
      </footer>
    {% endblock %}

    <script src="/public/jquery.min.js"></script>
    <script src="/public/javascript/all.js"></script>
    <script src="/public/javascript/hub.js"></script>
    <script src="/public/javascript/vendors/typeahead.bundle.min.js"></script>
    <script src="/public/javascript/search.js"></script>

    {% block bodyEnd %}{% endblock %}

  </body>
</html>
