{% from "../featured-content-item/macro.njk" import hubFeaturedContentItem %}
{% from "../sub-menu/macro.njk" import hubSubMenu %}


{% set categoryName = {
  "644": "news-events",
  "787": "day-to-day",
  "651": "art-culture",
  "648": "healthy-mind-body",
  "646": "radio-shows-podcasts",
  "649": "inspiration",
  "650": "science-nature",
  "643": "history",
  "786": "legal-and-your-rights",
  "785": "music"
} %}

<div id="category-{{params.categoryId}}" class="govuk-hub-landing-page-header govuk-hub-landing-page-header--with-stripe">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-!-padding-top-2">
          <h1 id="title" class="govuk-heading-xl">{{ params.title }}</h1>

          {% if params.description.summary %}
            <p id="summary" class="govuk-body-l">{{ params.description.summary}}</p>
          {% endif %}

          {% if params.description.sanitized %}
            <div id="description" class="gov-uk-dynamic-content">
              {{params.description.sanitized | safe }}
            </div>
          {% endif %}
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="govuk-hub-landing-page-header__content-image" style="background-image: url({{params.image.url}});"></div>
        </div>
      </div>
    </div>
  </div>
</div>
