{% from "../sub-menu/macro.njk" import hubSubMenu %}

<div id="category-{{params.categoryId}}" class="govuk-hub-landing-page-header govuk-hub-landing-page-header--with-stripe">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-!-padding-top-2">
          <h1 id="title" class="govuk-heading-xl">{{ params.title }}</h1>

          {% if params.description.summary %}
            <p id="summary" class="govuk-body-l">{{ params.description.summary}}</p>
          {% endif %}

          {% if params.description.sanitized %}
            <div id="description" class="gov-uk-dynamic-content">
              {{params.description.sanitized | safe }}
            </div>
          {% endif %}
        </div>

        {% if params.video.url %}
          <div class="govuk-grid-column-one-half">
            <div id="videoPlayer" class="webPlayer light">
              <div id="videoPlayerContainer" class="videoPlayer" data-video="{{ params.video.url }}" data-poster="{{params.image.url}}"></div>
            </div>
          </div>
        {% elif params.image.url %}
          <div class="govuk-grid-column-one-half">
            <div data-page-featured-image class="govuk-hub-landing-page-header__content-image" style="background-image: url({{params.image.url}});"></div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
