<header class="govuk-header top-bar-container" data-module="header">
  <div class="govuk-width-container govuk-body top-bar">
    <h1 class="govuk-heading-m">
      <img class="hub-logo" src="/public/images/icons/content-hub.png" alt="logo">
      <a href="/" style="">Content Hub <span>{{ params.appName }}</span></a>
    </h1>
    <div class="top-bar-time">
      <span data-target-id="todays-date">&nbsp;</span>
      <span data-target-id="todays-time"></span>
    </div>
  </div>
</header>
{% if params.showBar %}
  <div class="govuk-width-container">
    <hr class="govuk-section-break govuk-search-section-break--visible">
  </div>
{% endif %}
