<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
      <div class="header-global">
          <div class="header-logo">
              <a href="/" title="Go to the homepage" id="logo" class="content hmppslogo">
                  <img class="logo-img" src="/public/images/logo.svg" width="41" height="35" alt=""/>
                  <span>Starter Server</span>
              </a>
          </div>
      </div>
  </div>
</header>
