{% from "../featured-content-item/macro.njk" import hubFeaturedContentItem %}

<div id="related-contents" class="govuk-grid-row content-items">
  {% for item in params.data %}
    <div class="item govuk-grid-column-one-quarter">
      {{
        hubFeaturedContentItem({
          id: item.id,
          title: item.title,
          summary: item.summary,
          size: "small",
          type: params.contentType,
          contentType: item.contentType,
          graphic: item.image,
          duration: item.duration
        })
      }}
    </div>
  {% endfor %}
</div>
