{% from "../personal-balance-single/macro.njk" import personalBalanceSingle %}

<div id="money">
  <h2>Your account balances</h2>
  <div class="balances">
    {{ personalBalanceSingle({
      type: 'spends',
      error: params.data.error,
      amount: params.data.spends
    })}}
    {{ personalBalanceSingle({
      type: 'private',
      error: params.data.error,
      amount: params.data.cash
    })}}
  </div>
  <div class="balances">
    {{ personalBalanceSingle({
      type: 'phone',
      error: params.data.error,
      amount: params.data.phone
    })}}
    {{ personalBalanceSingle({
      type: 'savings',
      error: params.data.error,
      amount: params.data.savings
    })}}
  </div>
</div>
