.carousel-wrap {
  background: #0e1a35;
  border-radius: 1em;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;

  .icon-play-button-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
  }

  .new-video {
    position: absolute;
    background: #FFC200;
    border-radius: 1em 0em 1em 0em;
    color: black;
    display: inline;
    padding: 5px 22px;
    float: left;
    font-weight: bold;
  }
}

.video-duration {
  &::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 0.5em;
    background: transparent url(/img/ic_query_builder_black_24dp_1x.png) top left no-repeat;

    .dark & {
      background: transparent url(/img/ic_query_builder_white_24dp_1x.png) top left no-repeat;
    }
  }
}
