.video-player-wrap {
    padding: 5em 0 3em 0;
    background: rgb(14, 26, 53);
    color: #ffffff;
    margin-top: 96px;
    position: relative;
}

#video_player {
    width: 650px;
    height: 370px;
    zoom: 0.7;
}

.video-details {
    font-weight: 300;
    position: relative;

    .video-title {
        margin-top: 0.5em;
    }

    .video-duration {
        float: left;
        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: middle;
            margin-right: 0.5em;
            background: transparent url(/img/ic_query_builder_black_24dp_1x.png) top left no-repeat;

            .dark & {
                background: transparent url(/img/ic_query_builder_white_24dp_1x.png) top left no-repeat;
            }
        }
    }
}

.episodes-menu {
    text-align: center;
    display: table;
    margin: 30px auto;

    a {
        font-size: 20px;
        text-decoration: none;
        padding: 15px 60px;
        display: table-cell;
        background: #fff;
        color: #000;
        width: 205px;
        &:hover {
            color: $colour-green;            
        }
        &:active {
            color: $colour-mid-grey;
        }
        &.active {
            background: $colour-green;
            color: #fff;
        }


        &:first-child {
            border-top-left-radius: 11px;
            border-bottom-left-radius: 11px;
        }

        &:last-child {
            border-top-right-radius: 11px;
            border-bottom-right-radius: 11px;
        }
    }
}

.card.programme-card.episode-card {
    .card-thumbnail {
        position: relative;
    }

    .duration {
        .icon {
            zoom: 0.5;
            height: 30px;
            margin-right: 5px;
        }
        position: absolute;
        font-size: 13px;
        color: #a6a6a6;
        background: #000;
        opacity: 0.85;
        padding: 2px 0px 2px 13px;
        right: 0;
        bottom: 0;
    }

    .icon-play-button-white {
        position: absolute;
        top: 54px;
        left: 97px;
        background-color: rgba(0,0,0,0.2);
        border-radius: 35px;
    }
}

.btn-videoShowMore, 
.btn-videoShowLess {
    float: right;
    color: $colour-white;
}

.video-item--expanded {
    display: none;
}
