{# {% extends "../component-or-error/macro.njk" %} #}
{% if params.error %}
  <div class="govuk-error-summary govuk-width-container">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <p class="govuk-error-message">{{params.error}}</p>
    </div>
  </div>
{% else %}
  <div class="todays-events">
    <div>
      <h3 class="govuk-heading-m">
      {% if params.isTomorrow %}Tomorrow{% else %}Today{% endif %}'s appointments</h3>
      <a href="/timetable" class="govuk-link see-timetable">See your timetable</a>
    </div>
    <div class="govuk-body">
      {% for event in params.events %}
      <div>
        <span>{{event.timeString}}</span>
        <span><strong>{{event.title}}</strong> {{event.location}}</span>
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
