<div class="todays-events">
  <div>
    <h3 class="govuk-heading-m">
      {% if params.isTomorrow %}Tomorrow{% else %}Today{% endif %}'s appointments</h3>
    {% if not isLoggedIn %}
      <span class="govuk-body">
        <a href="/auth/signin?returnUrl=/" class="govuk-link see-timetable">Sign in</a> to see your timetable</span>
    {% else %}
      <a href="/timetable" class="govuk-link see-timetable">See your timetable</a>
    {% endif %}
  </div>
  <div class="govuk-body">
    {% if params.error %}
      <p>Unavailable</p>
    {% else %}
      {% for event in params.events %}
        <div>
          <span class="timetable-time">{{event.timeString}}</span>
          <span>
            <strong>{{event.title}}</strong>
            {{event.location}}</span>
        </div>
      {% else %}
        {% if isLoggedIn %}
          Nothing scheduled for today
        {% else %}
          <div class="todays-events__placeholder">
            <div></div>
            <div></div>
          </div>
        {% endif %}

      {% endfor %}
    {% endif %}
  </div>
</div>
