<div id="search-wrapper">
  <form method="GET" action="/search">
    <label class="govuk-label" for="event-name">Search</label>
    <input class="govuk-search-input search-box {% if params.small %}search-box-small{% endif %}" id="search" name="query" type="text" value="{{params.query}}" autocomplete="off" placeholder="Search the Content Hub">
    <button type="submit" class="govuk-button search-button {% if params.small %}search-button-small{% endif %}">
      Search
    </button>
  </form>
</div>
