{% from "../audio-content-item/macro.njk" import hubAudioContentItem %}

<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-hub-featured-content__category-title">Listen next</h3>
    </div>
  </div>
  <div class="govuk-grid-row content-items govuk-hub-audio-content-items">
    {% for item in params.data %}
      <div class="item govuk-grid-column-one-third">
          {{ hubAudioContentItem({
            id: item.id,
            title: item.title,
            thumbnail: item.thumbnail
          }) }}
      </div>
    {% endfor %}
  </div>
</section>
