

.govuk-width-container {
    max-width: 1200px; // override gov container
}

.govuk-main-wrapper {
  padding-top: govuk-spacing(0);

}

.black-background {
    background: govuk-colour("black");
}

.govuk-hub-square {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    display: inline-block;
}

.govuk-hub-square--blue {
    background-color: blue;
}

.govuk-hub-square--red {
    background-color: red;    
}