.govuk-width-container {
  max-width: 1200px; // override gov container
}

.govuk-main-wrapper {
  padding-top: govuk-spacing(0);
}

.black-background {
  background: govuk-colour('black');
}

.govuk-hub-comment-form {
  color: govuk-colour('white');
}

.govuk-hub-comment-form .govuk-hint,
.govuk-hub-comment-form .govuk-label {
  color: govuk-colour('white');
}

.govuk-hub-comment-counter {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  float: left;
}

.govuk-hub-comment-form__footer .govuk-button {
  background-color: $govuk-link-colour;
  float: right;
}

.govuk-hub-thumbs {
  height: 39px;
  width: 44px;
  margin-right: 10px;
  float: left;
  cursor: pointer;
}

.govuk-hub-thumbs--up {
  background-image: url('/public/images/icon-thumbs/thumbs-up-white.svg');
}

.govuk-hub-thumbs--down {
  background-image: url('/public/images/icon-thumbs/thumbs-down-white.svg');
  margin-top: 12px;
}

.govuk-u-hidden {
  display: none;
}

.govuk-hub-comment-form__footer {
  text-align: right;
  @include govuk-font($size: 19);
}

.govuk-hub-comment-form__footer::after,
.govuk-hub-feedback::after {
  content: '';
  display: table;
  clear: both;
}

.govuk-hub-feedback {
  margin-bottom: 15px;
}

.govuk-hub-feedback-text {
  @include govuk-font($size: 19);
  color: govuk-colour('white');
  margin-bottom: 20px;
}

.govuk-hub-article-feedback {
  border-top: solid 1px $govuk-border-colour;
  padding-top: 30px;
}

.govuk-hub-article-feedback .govuk-hub-feedback-text {
  color: govuk-colour('black');
}

.govuk-hub-article-feedback .govuk-hub-comment-form .govuk-hint {
  color: govuk-colour('black');
}

.govuk-hub-article-feedback .govuk-hub-comment-form {
  color: govuk-colour('black');
}

.govuk-hub-article-feedback .govuk-hub-thumbs--up {
  background-image: url('/public/images/icon-thumbs/thumbs-up-grey.svg');
}

.govuk-hub-article-feedback .govuk-hub-thumbs--down {
  background-image: url('/public/images/icon-thumbs/thumbs-down-grey.svg');
}

.govuk-hub-thumbs--down.is-selected {
  background-image: url('/public/images/icon-thumbs/thumbs-down-selected.svg');
}

.govuk-hub-thumbs--up.is-selected {
  background-image: url('/public/images/icon-thumbs/thumbs-up-selected.svg');
}
