.govuk-hub-audio-content-item {

    p {
        color: govuk-colour("white");
    }
    a {
        text-decoration: none;
    }
}

.govuk-hub-audio-content-items {

    .item {
        &:first-child {
            padding-left: govuk-spacing(1);
        }
        &:last-child {
            padding-right: govuk-spacing(1);
        }
    }
    
}