.govuk-hub-featured-content-item-icon {
  display: flex;
  align-items: flex-end;
}

.govuk-hub-featured-content__category-title,
.govuk-hub-featured-content__category-link
{
    color: govuk-colour("white");
    margin: govuk-spacing(4) 0;
}

.govuk-hub-featured-content__category-title {
  @include govuk-font($size: 36);
  font-weight: bold;
}

.govuk-hub-featured-content__category-link {
    @include govuk-font($size: 24);
    display: inline-block;

    .icon-chevron {
        &:before{
            position: relative;
            top: 2px;
        }
    }

    &:link,
    &:visited,
    &:active,
    &:focus {
        color: govuk-colour("white");
        text-decoration: none;
    }
    &:hover {
        color: govuk-colour("white");
    }
}

.govuk-hub-featured-link {
    color: govuk-colour("white");
}

.content-items {
    padding-left: govuk-spacing(3);
    padding-right: govuk-spacing(3);

    .item {
        margin-bottom: govuk-spacing(6);
        padding: 0 govuk-spacing(1);
    }
}
