.govuk-hub-featured-content-item-icon {
  display: flex;
  align-items: flex-end;
}

.govuk-hub-featured-content__category-title {
  color: govuk-colour('white');
  margin: govuk-spacing(4) 0;
}

.govuk-hub-featured-content__category-title {
  @include govuk-font($size: 36);
  font-weight: bold;
}

.govuk-hub-featured-content__category-title .govuk-link {
  color: govuk-colour('white');
  text-decoration: none;
}

.govuk-hub-featured-content__category-title .govuk-link:focus {
  color: govuk-colour('black');
}

.govuk-hub-featured-content__category-link {
  @include govuk-font($size: 24);
  display: inline-block;
  text-decoration: none;
  line-height: 0.7em;
  color: govuk-colour('white');

  &:visited {
    color: govuk-colour('white');
  }

  &:focus,
  &:hover {
    color: govuk-colour('black');
  }
}

.govuk-hub-chevron-link {
  font-size: 2em;
  display: inline-block;
  top: 5px;
  position: relative;
}

.govuk-hub-featured-link {
  color: govuk-colour('white');
  display: block;
}

.content-items {
  padding-left: govuk-spacing(3);
  padding-right: govuk-spacing(3);

  .item {
    margin-bottom: govuk-spacing(6);
    padding: 0 govuk-spacing(1);
  }
}
