.input-text--large {
  font-family: 'GDS Transport', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include govuk-font(24);
  line-height: 1.25;
  box-sizing: border-box;
  height: 60px;
  padding: govuk-spacing(3);
  border: 2px solid #0b0c0c;
}

.input-button--large {
  font-family: 'GDS Transport', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include govuk-font(24);
  height: 60px;
}

.form--bold-labels {
  & label {
    font-weight: bold !important;
  }
}
