.govuk-hub-header__container {
  position: relative;
}
.govuk-hub-header__container:after {
  content: '';
  display: block;
  clear: both;
}

.govuk-hub-phase-banner {
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  margin-bottom: govuk-spacing(6);
}

.govuk-hub-header__topbar {
  background: govuk-colour('black');
}

.govuk-hub-align-items-center {
  display: flex;
  align-items: center;
}

.govuk-hub-header__prison,
.govuk-hub-header__title,
.govuk-hub-header__date,
.govuk-hub-header__time {
  color: govuk-colour('white');
  display: inline-block;
  padding: govuk-spacing(2) govuk-spacing(1);
  margin-bottom: 0;
  @include govuk-font(24, 'bold');
  line-height: 1;
}

.govuk-hub-header__date {
  padding: 0;
  font-weight: 400;
}

.govuk-hub-header__time {
  margin-right: govuk-spacing(1);
}

.govuk-hub-align-right {
  text-align: right;
}

.govuk-hub-main_navigation {
  margin: 0;
}

.govuk-hub-start-menu {
  @include govuk-font($size: 24);

  vertical-align: baseline;
  margin: 0;
  padding: govuk-spacing(3) govuk-spacing(4) govuk-spacing(2);
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-top: -3px;

  &:link,
  &:visited,
  &:active,
  &:focus {
    background: $govuk-link-colour;
  }
  &:hover {
    background: $govuk-link-hover-colour;
  }
}

.govuk-hub-header__back-link {
  &:link,
  &:visited,
  &:active,
  &:focus {
    color: $govuk-link-colour;
    border-bottom: 1px solid $govuk-link-colour;
  }
  &:hover {
    color: $govuk-link-hover-colour;
    border-bottom: 1px solid $govuk-link-hover-colour;
  }
}

.govuk-hub-header__background {
  h1,
  p {
    color: govuk-colour('white');
  }

  &.news-events {
    background: govuk-colour('red');
  }

  &.day-to-day {
    background: govuk-colour('blue');
  }

  &.games {
    background: govuk-colour('orange');
  }

  &.radio-podcasts {
    background: govuk-colour('bright-purple');
  }

  &.healthy-mind-body {
    background: govuk-colour('turquoise');
  }

  &.inspiration {
    background: govuk-colour('yellow');
  }

  &.science-nature {
    background: govuk-colour('green');
  }

  &.art-culture {
    background: govuk-colour('light-pink');
  }

  &.history {
    background: govuk-colour('brown');
  }
}

.govuk-hub-title-container {
  float: left;
  max-width: 80%;
}

.hub-header-user-container {
  display: inline-block;
  background-color: govuk-colour('blue');
  padding-left: govuk-spacing(4);
  padding-right: govuk-spacing(4);
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(2);
  vertical-align: middle;
}

.hub-header-user-container span,
.hub-header-user-container h1 {
  border-right: 1px solid govuk-colour('white');
  margin-right: govuk-spacing(1);
}

.hub-header-user-container span {
  padding-right: govuk-spacing(2);
}

.hub-header-user-container h1 {
  border: none;
  margin: 0;
  font-weight: 400;
  display: inline-block;
  font-size: 1rem;
}

.govuk-hub-header__link--homepage:focus {
  outline: govuk-colour('yellow');
  outline-style: solid;
}

img.hub-logo {
  max-height: 50px;
  max-width: 50px;
  margin-right: govuk-spacing(1);
}

.hub-header {
  margin-top: govuk-spacing(3);

  & h1 {
    @include govuk-font(48, 'bold');
  }

  & > :first-child {
    float: none;
    width: 100%;

    @media (min-width: $desktop-breakpoint) {
      width: 75%;
      float: left;
    }
  }
}
