.home-navigation {
  display: flex;
  flex-direction: row;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: column;
  }
}

.home-navigation__actions {
  flex: 1 1 65%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin-top: govuk-spacing(3);

  & > :first-child {
    flex: 0 0 auto;
    @media (min-width: $desktop-breakpoint) {
      padding-right: govuk-spacing(4);
    }
  }

  @media (min-width: $desktop-breakpoint) {
    flex: 1 1 auto;
    flex-direction: row;
  }
}

.home-navigation__search {
  margin-bottom: govuk-spacing(6);
}

.popular-topics {
  flex: auto;
  box-sizing: border-box;

  & h3 {
    font-weight: 400;
    margin-bottom: govuk-spacing(2);
  }

  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & li {
      flex: 1 0 100%;

      & a {
        @include govuk-font(24, 'bold');
        text-decoration: none;
      }

      @media (min-width: $tablet-breakpoint) {
        flex: 1 0 auto;
        height: 31px;
      }
    }

    @media (min-width: $tablet-breakpoint) {
      flex-direction: column;
      height: 120px;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    flex: 1 0 auto;
  }
}

.todays-events {
  flex: 1 1 35%;
  border: govuk-spacing(1) solid govuk-colour('blue');
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(5);

  & h3 {
    margin-bottom: govuk-spacing(2);
  }

  & > :first-child {
    padding-left: govuk-spacing(8);
    background-image: url(/public/images/icons/appointments.png);
    background-repeat: no-repeat;
  }

  & > :last-child {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    margin-bottom: 0;

    & > div > :first-child {
      display: block;
      margin-top: govuk-spacing(4);

      @media (min-width: $desktop-breakpoint) {
        display: inline-block;
        width: 100px;
        margin-top: 0;
      }
    }

    @media (min-width: $desktop-breakpoint) {
      flex: 1 1 70%;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    display: flex;
    flex: 1 1 auto;
    padding: govuk-spacing(2);

    & > * {
      flex: 1 1 30%;
    }
  }
}

.todays-events__placeholder {
  display: block;
  width: 100%;

  & > div {
    // TODO: fix and remove important
    display: block !important;
    margin-top: 0 !important;
    width: 66% !important;
    background-color: govuk-colour('light-grey');
    height: 44%;
    margin-bottom: govuk-spacing(2);

    &:last-of-type {
      width: 33% !important;
    }
  }
}

.see-timetable {
  font-size: 19px;
}
