.govuk-hub-landing-page-header {
  background-color: govuk-colour('white');
  color: #ffffff;
}

.govuk-hub-landing-page-header--with-stripe::after {
  content: '';
  background-color: govuk-colour('grey-1');
  height: 20px;
  width: 100%;
  display: block;
}

.govuk-hub-landing-page-header__content-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 345px;
}

.govuk-hub-landing-page-header h1 {
  color: govuk-colour('black');
}

.govuk-hub-landing-page-header p {
  color: govuk-colour('black');
}

.govuk-hub-landing-page-header__category-stripe {
  background-color: govuk-colour('grey-1');
  height: 20px;
  width: 100%;
  display: block;

  &.none {
    display: none;
  }
}

.govuk-hub-landing-page-header-underline {
  margin-bottom: 20px;
}

.govuk-hub-landing-page-header-underline::after {
  content: '';
  background: black;
  height: 4px;
  width: 240px;
  display: block;
  margin-top: 0.75em;
}

.govuk-hub-content-section-menu {
  ul {
    margin: 0;
    padding: 0;
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;

    li {
      display: block;
      margin: 0 0 govuk-spacing(4) 0;
      a {
        @include govuk-font($size: 19);
      }
    }
  }
}
