@import 'node_modules/govuk-frontend/settings/all';
@import 'node_modules/govuk-frontend/tools/all';
@import 'node_modules/govuk-frontend/helpers/all';
@import 'node_modules/govuk-frontend/helpers/typography';

$govuk-hub-language-text: govuk-colour('black');

.govuk-hub-language-toggle-padding {
  padding-bottom: govuk-spacing(2);
}

.govuk-hub-language-toggle {
  margin: 0;
}

.govuk-hub-language-toggle__item {
  display: inline-block;
  margin-left: govuk-spacing(2);
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(3);
  border-left: 1px solid $govuk-border-colour;
  color: $govuk-hub-language-text;
  @include govuk-font($size: 19);

  &:first-child {
    border-left: none;
  }
}

.govuk-hub-language-toggle__link {
  margin-left: govuk-spacing(2);
  text-decoration: none;
  position: relative;
  display: inline-block;

  &:link,
  &:visited,
  &:active,
  &:focus {
    color: $govuk-link-colour;
    border-bottom: 1px solid $govuk-link-colour;
  }
  &:hover {
    color: $govuk-link-hover-colour;
    border-bottom: 1px solid $govuk-link-hover-colour;
  }
}

.govuk-hub-language-toggle__link--active {
  &:link,
  &:visited,
  &:active,
  &:focus,
  &:hover {
    color: $govuk-text-colour;
    border-bottom: none;
  }
}
