img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

$primary-foreground-color: #fff; // #fff default
$primary-background-color: #d53880; // #2B333F default
$center-big-play-button: true; // true default

.vjs-default-skin .vjs-big-play-button {
  font-size: 3em;
  line-height: 1.5em;
  height: 1.5em;
  width: 1.5em;
  border: none;
  background-color: #d53880;
  border-radius: 0;
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -0.75em;
}

.govuk-hub-media-audio {
  .webPlayer {
    height: 226px;
    width: 100%;
  }

  .playerScreen {
    background-image: url('/public/images/radio-player-background.jpg');
    position: absolute;
    top: 0;
    width: 100%;
    height: 206px;
  }

  .webPlayer .playerScreen .video-play {
    bottom: 0;
    background-position: center;
  }

  .webPlayer .controls {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.govuk-hub-media-audio--series-header {
  .webPlayer {
    height: auto;
  }

  .controls {
    padding: 5px 0px;
    box-sizing: border-box;
    height: 50px;
  }

  .webPlayer .controls {
    position: absolute;
    width: 100%;
  }

  .webPlayer .video-play {
    background-position: center;
  }
}
