.govuk-hub-media-player {
    margin: 0 auto;
    float: none;
    display: table;
}

.govuk-hub-media-player__header {
    margin-bottom: govuk-spacing(4);
}
.govuk-hub-media-player__show-tag {
    float: left;
    margin-right: govuk-spacing(4);
}

.govuk-hub-media-player__catgeory,
.govuk-hub-media-player__title, {
    color: govuk-colour("white");
    margin-bottom: govuk-spacing(2);
}

.govuk-hub-media-player__catgeory-link {

    &:link,
    &:visited,
    &:active,
    &:focus {
        text-decoration: none;
        color: govuk-colour("white");
    }
    &:hover {
        color: govuk-colour("white");
    }
}

.govuk-hub-media-player__player {
    display: block;
}

.govuk-hub-media-player__description {

    margin: govuk-spacing(6) 0;

    p {
        color: govuk-colour("white");
    }
}

.govuk-hub-media-player-item-icon {

}

.govuk-hub-media-player-item__main-play {

    .icon-play,
    .icon-link {
        font-size: 30px;
        position: relative;
        top: 5px;
    }

    .space {
        margin-left: govuk-spacing(1);
        display: inline-block;
        text-decoration: underline;
    }
    &:link,
    &:visited,
    &:active,
    &:focus {
        text-decoration: none;
        color: govuk-colour("white");
    }
    &:hover {
        color: govuk-colour("white");
    }
}