.govuk-hub-media-player {
  margin: 0 auto;
  width: 75%;
}

.govuk-hub-media-player__header {
  margin-bottom: govuk-spacing(1);
  display: flex;

  & .media-thumbnail {
    width: 100px;
    margin-right: govuk-spacing(4);
  }
}

.govuk-hub-media-player__show-tag {
  margin-right: govuk-spacing(4);
}

.govuk-hub-media-player__catgeory,
.govuk-hub-media-player__title {
  color: govuk-colour('white');
  margin-bottom: govuk-spacing(2);
}

.govuk-hub-media-player__catgeory-link {
  &:link,
  &:visited,
  &:active {
    color: govuk-colour('white');
  }
  &:hover {
    color: govuk-colour('white');
  }
  &:focus {
    color: govuk-colour('black');
  }
}

.govuk-hub-media-player__player {
  margin-bottom: govuk-spacing(2);
}

.govuk-hub-media-player__description {
  margin: govuk-spacing(6) 0;

  p {
    color: govuk-colour('white');
  }

  a {
    color: govuk-colour('white');
  }
}

.govuk-hub-media-player-item__main-play {
  .icon-play,
  .icon-link {
    font-size: 30px;
    position: relative;
    top: govuk-spacing(1);
  }

  .space {
    margin-left: govuk-spacing(1);
    display: inline-block;
    text-decoration: underline;
  }
  &:link,
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
    color: govuk-colour('white');
  }
  &:hover {
    color: govuk-colour('white');
  }
}

.video-js {
  margin-bottom: govuk-spacing(6);

  & .vjs-poster,
  & .vjs-tech,
  & .vjs-slider,
  & .vjs-control {
    &:focus {
      outline-color: govuk-colour('yellow');
      opacity: 1;
    }
  }

  & .vjs-current-time,
  & .vjs-duration {
    display: block;
  }

  & .vjs-picture-in-picture-control,
  & .vjs-remaining-time {
    display: none;
  }

  &:hover {
    & .vjs-big-play-button {
      background-color: transparent;
      opacity: 1;
    }
  }

  & .vjs-big-play-button {
    width: 104px;
    height: 103px;
    border: 0;
    background-image: url(./../images/preimg.png);
    background-color: transparent;
    background-position: 50% 50%;

    &:focus {
      outline-color: govuk-colour('yellow');
      background-color: transparent;
      opacity: 1;
    }
    &:hover {
      background-color: transparent;
      opacity: 1;
    }
    & .vjs-icon-placeholder {
      &:before {
        content: '';
        display: none;
      }
    }
  }
}
