.secondary-tags-list {
  list-style: none;
  padding: 0;
  margin: 0 0 govuk-spacing(6);

  & li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  & a {
    display: inline-block;
    color: govuk-colour('black');
    background-color: govuk-colour('white');
    display: inline-block;
    padding: govuk-spacing(1) govuk-spacing(2) 0;
    @include govuk-font($size: 19);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;

    &:focus {
      background: govuk-colour('yellow');
      outline: none;
    }
  }
}
