.notification {
  border: govuk-spacing(1) solid govuk-colour('blue');
  background: govuk-colour('white');
  line-height: 1.25;
  box-sizing: border-box;
  display: block;
  padding: 0 govuk-spacing(4);
  margin: govuk-spacing(9) 0;
  & .govuk-warning-text {
    margin: 0;
  }
  & .govuk-warning-text .govuk-warning-text__icon {
    border-color: govuk-colour('blue');
    background-color: govuk-colour('blue');
  }
  & .govuk-warning-text .govuk-warning-text__text {
    @include govuk-font($size: 24, $weight: 'bold');
  }
}

.notification--three-quarters {
  margin: govuk-spacing(4) 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    margin-bottom: govuk-spacing(4);
    width: 75%;
  }
}

.notification--is-error {
  background-color: $govuk-error-colour;
}

.notification--is-success {
  background-color: govuk-colour('green');
}

.notification__close {
  @include govuk-font($size: 16, $weight: 'bold');
  display: block;
  float: right;
}
