.page-navigation {
  background-color: #f8f8f8;

  & > nav {
    display: flex;
    align-items: center;
    padding: govuk-spacing(2) 0;

    & > * {
      margin-right: govuk-spacing(5);
      @include govuk-font(24);
    }

    & > :last-child {
      margin-right: 0;
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
    }

    & > span {
      font-weight: 700;
    }
  }
}

#go-back,
#go-forwards {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: govuk-colour('blue');
}

#go-forwards::after,
#go-back::before {
  background-image: url('/public/images/icons/chevron-left.svg');
  background-repeat: no-repeat;
  background-position: 0 50%;
  content: '';
  width: govuk-spacing(4);
  height: govuk-spacing(4);
}

#go-forwards::after {
  background-image: url('/public/images/icons/chevron-right.svg');
  background-position: 8px 50%;
}
