@import 'node_modules/govuk-frontend/govuk/settings/all';
@import 'node_modules/govuk-frontend/govuk/tools/all';
@import 'node_modules/govuk-frontend/govuk/helpers/all';

.page-navigation {
  background-color: #f8f8f8;
}

.page-navigation > nav {
  display: flex;
  align-items: center;
  padding: govuk-spacing(2) 0;
}

.page-navigation > nav > * {
  padding-right: govuk-spacing(5);
}

.page-navigation > nav > :last-child {
  padding-right: 0;
}

.page-navigation > nav > span {
  font-weight: 700;
}
