#visits {
  display: flex;

  & > * {
    flex: 1 0 33%;
  }

  & h3 {
    @include govuk-font(24);
    font-weight: 400;
  }
}

.type-of-visit > *,
.next-visit > * {
  margin: 0;
}

.next-visit-type,
.next-visit-day {
  @include govuk-font(48, 'bold');
  margin: govuk-spacing(2) 0;
}

.next-visit-date {
  @include govuk-font(24, 'bold');
}

.hidden-block-text {
  display: none;
  margin: 0 0 13px;
}

#iepSummary {
  width: 100%;

  @media (min-width: $desktop-breakpoint) {
    width: 75%;
  }
}

.iep-info p > span {
  display: block;
  font-weight: 700;
  padding-top: govuk-spacing(1);
}
.iep-indicator {
  display: inline-block;
  width: 30%;
  margin: 0 0 govuk-spacing(1);
  padding: 0 10px;
  text-align: center;
  @include govuk-font(24, 'bold');

  @media (min-width: $desktop-breakpoint) {
    width: 29.3%;
  }
}
.iep-indicator::after {
  content: '\25bc';
  display: block;
  text-align: center;
}
.iep-level {
  color: govuk-colour('white');
  font-weight: bold;
  padding: govuk-spacing(2);
  float: left;
  width: 30%;
  margin-right: govuk-spacing(2);
  text-align: center;
  @include govuk-font(24, 'bold');

  @media (min-width: $desktop-breakpoint) {
    width: 29.3%;
  }
}
.iep-level--basic {
  background-color: govuk-colour('blue');
}
.iep-level--standard {
  background-color: govuk-colour('turquoise');
}
.iep-level--enhanced {
  background-color: govuk-colour('purple');
  margin-right: 0;
}
.iep-indicator--standard {
  margin-left: calc(30% + 30px);

  @media (min-width: $desktop-breakpoint) {
    margin-left: calc(29.3% + 30px);
  }
}
.iep-indicator--enhanced {
  margin-left: calc(60% + 60px);

  @media (min-width: $desktop-breakpoint) {
    margin-left: calc(58.6% + 60px);
  }
}
.iepReview {
  @include govuk-font(24);

  & > span {
    font-weight: 700;
  }
}

#money > h2 {
  @include govuk-font(24);
}
.balances {
  @include govuk-font(24, 'bold');
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: govuk-spacing(5);

  @media (min-width: $desktop-breakpoint) {
    width: 66%;
  }

  & > * {
    flex: 1 0 25%;
  }

  & p {
    text-align: right;
    padding-right: govuk-spacing(2);
  }

  & p,
  & button {
    margin: 0;
  }

  & > div {
    padding-right: govuk-spacing(5);

    & > button {
      width: 100%;
    }

    & > p {
      outline: 1px solid grey;
      text-align: right;
      padding: 4px govuk-spacing(1) 4px 0;
    }
  }
}
