$trans: rgba(0, 0, 0, 0);
$seventyFivePercentBlack: rgba(0, 0, 0, 0.75);

$gradient: $trans, $seventyFivePercentBlack;

.govuk-hub-promoted-content {
  position: relative;
  border: solid govuk-colour('grey-3') 20px;
  background: govuk-colour('grey-3');
}

.govuk-hub-promoted-content::after {
  content: '';
  display: table;
  clear: both;
}

.govuk-hub-promoted-content__header {
  padding: govuk-spacing(4) govuk-spacing(0) govuk-spacing(0) govuk-spacing(4);
}

.govuk-hub-promoted-content__main {
  padding: govuk-spacing(0) govuk-spacing(0) govuk-spacing(8) govuk-spacing(4);
}

.govuk-hub-promoted-content__header-title,
.govuk-hub-promoted-content__description,
.govuk-hub-promoted-content__link {
  color: govuk-colour('white');
  margin-bottom: govuk-spacing(2);
  text-decoration: underline;
}

.govuk-hub-promoted-content__description {
  @include govuk-font($size: 19);
}

.govuk-hub-promoted-content__link {
  @include govuk-font($size: 19);
}

.govuk-hub-promoted-content__link {
  &:link,
  &:visited,
  &:active,
  &:focus {
    color: govuk-colour('white');
  }
  &:hover {
    color: govuk-colour('white');
  }
}

// .govuk-hub-promoted-content-row {
//   display: flex;
// }

.govuk-hub-promoted-content-image-container {
  width: 70%;
  min-height: 285px;
  float: left;
}

.govuk-hub-promoted-content-container {
  width: 30%;
  float: right;
}

.govuk-hub-promoted-content__overlay {
  background: $seventyFivePercentBlack;
  background: -ms-linear-gradient(
    right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  ); /* IE 11 */
  @include gradient(right, $gradient);
  min-height: 300px;
}

.govuk-hub-promoted-content__graphic {
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 285px;
  display: block;
  background-position: center;
}

.govuk-hub-promoted-content__no-link {
  text-decoration: none;

  h1 {
    text-decoration: none;
    color: #005ea5;
  }

  p {
    text-decoration: none;
    color: govuk-colour('black');
  }

  span {
    padding-top: govuk-spacing(4);
    text-decoration: none;
    color: #005ea5;
    font-weight: bold;
  }
}

.govuk-hub-day-to-day-menu {
  border-top: solid govuk-colour('black') 5px;
  padding-top: 20px;
  margin-top: 20px;
}
