$trans: rgba(0, 0, 0, 0);
$seventyFivePercentBlack: rgba(0, 0, 0, 0.75);

$gradient: $trans, $seventyFivePercentBlack;

.govuk-hub-promoted-content {
    position: relative;
    margin-bottom: 30px;
}

.govuk-hub-promoted-content__header {
    width: 40%;
    padding: govuk-spacing(8) govuk-spacing(8) govuk-spacing(0) govuk-spacing(8);

}

.govuk-hub-promoted-content__main {
    width: 40%;
    padding: govuk-spacing(0) govuk-spacing(8) govuk-spacing(8) govuk-spacing(8);
}

.govuk-hub-promoted-content__header-title,
.govuk-hub-promoted-content__description,
.govuk-hub-promoted-content__link
{
    color: govuk-colour("white");
    margin-bottom: govuk-spacing(2);
    text-decoration: underline;
}

.govuk-hub-promoted-content__description {
  @include govuk-font($size: 24);
}

.govuk-hub-promoted-content__link {
  @include govuk-font($size: 19);
}

.govuk-hub-promoted-content__link
{
    &:link,
    &:visited,
    &:active,
    &:focus {
        color: govuk-colour("white");
    }
    &:hover {
        color: govuk-colour("white");
    }
}

.govuk-hub-promoted-content__overlay {
    background: $seventyFivePercentBlack;
    background: -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0, 0, 0, 1)); /* IE 11 */
    @include gradient(right, $gradient);
  
    min-height: 300px;
}

.govuk-hub-promoted-content__grpahic {
    background-size: cover;
}

.govuk-hub-promoted-content__no-link {
  text-decoration: none;

  h1 {
    text-decoration: none;
  }

  p {
    text-decoration: none;
  }

}
