$search-width: 600px;

#search-wrapper {
  @extend .govuk-body;
  width: $search-width;
  position: relative;
  margin-bottom: govuk-spacing(9);
  & label {
    display: none;
  }
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: $govuk-link-colour;
  background-image: url('/public/images/icons/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px;
  height: 58px;
  width: 60px;
  text-indent: -9999px;
  &:hover {
    background-color: $govuk-link-hover-colour;
  }
}

.search-box {
  height: 60px;
  padding-left: govuk-spacing(3);
  border-right: none;
}

.twitter-typeahead {
  width: 90%;
}

.typeahead {
  background-color: govuk-colour('white');
}

.typeahead:focus {
  border: 2px solid $govuk-focus-colour;
}

.tt-hint {
  color: $govuk-secondary-text-colour;
}

.tt-menu {
  width: $search-width;
  box-sizing: border-box;
  margin: 12px 0;
  padding: govuk-spacing(2);
  background-color: govuk-colour('white');
  border: 2px solid $govuk-border-colour;
}

.tt-suggestion {
  padding: govuk-spacing(2);
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: govuk-colour('white');
  background-color: $govuk-link-hover-colour;
}

.tt-suggestion.tt-cursor {
  color: govuk-colour('white');
  background-color: $govuk-link-hover-colour;
}

.tt-suggestion p {
  margin: 0;
}

.results li {
  & a {
    text-decoration: none;
  }
}
