$search-width: 600px;

#search-wrapper {
  @extend .govuk-body;
  width: $search-width;
  position: relative;
  float: right;
  margin-top: govuk-spacing(2);
  margin-bottom: 0;
  & label {
    display: none;
  }
}

.govuk-search-input {
  font-family: 'nta', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.govuk-search-section-break--visible {
  border-bottom: 10px solid govuk-colour('blue');
}

@media print {
  .govuk-search-input {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .govuk-search-input {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}
@media print {
  .govuk-search-input {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.govuk-search-input:focus {
  outline: 3px solid govuk-colour('yellow');
  outline-offset: -3px;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: $govuk-link-colour;
  background-image: url('/public/images/icons/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px;
  height: 58px;
  width: 60px;
  text-indent: -9999px;
  &:hover {
    background-color: $govuk-link-hover-colour;
  }
}

.search-box {
  height: 60px;
  padding-left: govuk-spacing(3);
  border-right: none;
}

.twitter-typeahead {
  width: 90%;
}

.typeahead {
  background-color: govuk-colour('white');
}

.typeahead:focus {
  border: 2px solid $govuk-focus-colour;
}

.tt-hint {
  color: $govuk-secondary-text-colour;
}

.tt-menu {
  width: $search-width;
  box-sizing: border-box;
  margin: 12px 0;
  padding: govuk-spacing(2);
  background-color: govuk-colour('white');
  border: 2px solid $govuk-border-colour;
}

.tt-suggestion {
  display: block;
  padding: govuk-spacing(2);
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion p {
  margin: 0;
}

.results li {
  & a {
    text-decoration: none;
  }
}
