.signin {
  & p {
    margin: govuk-spacing(6) 0;
  }

  & .govuk-label,
  & .govuk-hint,
  & .govuk-body {
    @include govuk-font(24, 'regular');
  }

  & input {
    @include govuk-font(24);
    line-height: 1.25;
    box-sizing: border-box;
    height: 60px;
    padding: govuk-spacing(3);
    border: 2px solid #0b0c0c;
  }

  & button {
    @include govuk-font(24);
    height: 60px;
  }

  & .govuk-label {
    font-weight: bold;
  }
}

.signin-fields {
  display: flex;
  align-items: flex-end;

  & > div {
    flex: 1 0 50%;
  }

  & > div:last-child {
    padding-left: govuk-spacing(2);
  }
}

.signin-width {
  width: 50%;
}
