.govuk-hub-topics {
  ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    -ms-column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;

    li {
      margin: 0 0 govuk-spacing(1) 0;
      a {
        display: inline-block;
        @include govuk-font($size: 19);
        padding: 5px 5px 2px 5px;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
}
