.hub-topics {
  dl {
    list-style: none;
    margin: govuk-spacing(4) 0;
    padding: 0;
    -ms-column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    div {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      margin: 0 0 govuk-spacing(4);
    }

    dt {
      margin: 0 0 govuk-spacing(1);
      a {
        display: inline-block;
        @include govuk-font(24);
        text-decoration: none;
        font-weight: 700;
      }
    }

    dd {
      margin: 0;
      font-family: 'GDS Transport', Arial, sans-serif;
      @include govuk-font(19);
      p {
        margin-block-start: 0;
      }
    }
  }
}

.topics-big-links {
  display: flex;
  align-items: stretch;
  min-height: 250px;

  & > a {
    flex: 1 1 33%;
    text-align: center;
    text-decoration: none;
    color: govuk-colour('white');
    background-color: #025ea5;
    @include govuk-font(36, 'bold');
    padding: govuk-spacing(5);
    align-items: center;
    display: flex;
    margin-right: govuk-spacing(2);
  }

  & .account-balances-link {
    background-color: govuk-colour('turquoise');
  }

  & .iep-level-link {
    background-color: govuk-colour('light-purple');
  }
}
