@import 'node_modules/govuk-frontend/govuk/settings/all';
@import 'node_modules/govuk-frontend/govuk/tools/all';
@import 'node_modules/govuk-frontend/govuk/helpers/all';

.user-details {
  display: flex;
  align-items: center;
}

.user-details > div {
  flex: 1 0 50%;
}

.user-details-small,
.user-details-large {
  @include govuk-font(48, 'bold');
  color: govuk-colour('black');
  min-height: 46px;
  display: flex;
  align-items: center;
  margin-top: govuk-spacing(5);
}

.user-details-small {
  @include govuk-font(24, 'bold');
}

.user-details-small::before,
.user-details-large::before {
  width: 46px;
  height: 46px;
  content: '';
  background-color: govuk-colour('light-grey');
  background-image: url('/public/images/bod.png');
  display: inline-block;
  margin-right: govuk-spacing(2);
}
