.user-details {
  margin-bottom: govuk-spacing(3);

  & > div {
    margin: govuk-spacing(3) 0;
  }
}

.user-details-small,
.user-details-large {
  @include govuk-font(48, 'bold');
  color: govuk-colour('black');
  min-height: 46px;
  display: flex;
  align-items: center;
}

.user-details-small {
  @include govuk-font(24, 'bold');
  margin: 0;
}

.user-details-large {
  margin-top: govuk-spacing(5);
}

.user-details-small::before,
.user-details-large::before {
  width: 46px;
  height: 46px;
  content: '';
  background-color: govuk-colour('light-grey');
  background-image: url('/public/images/bod.png');
  display: inline-block;
  margin-right: govuk-spacing(2);
}
