version: '3.1'

networks:
  back-tier:

services:

  jenkins:
    image: {{ docker_image }} 
    volumes:
      - {{ jenkins_data_disk }}:/var/jenkins_home
    env_file:
      - '/opt/docker/jenkins-config.env'
    secrets:
      - AZURE_SP_CLIENT_ID
      - AZURE_SP_SECRET
      - GITHUB_DEPLOY_KEY
      - SLACK_WEBHOOK_TOKEN
    ports:
      - {{ jenkins_port }}:8080
    networks:
      - back-tier
    deploy:
      replicas: 1

secrets:
  AZURE_SP_CLIENT_ID:
    external: true
  AZURE_SP_SECRET:
    external: true
  GITHUB_DEPLOY_KEY:
    external: true
  SLACK_WEBHOOK_TOKEN:
    external: true
