ENABLE_FULL_ADMIN={{ ENABLE_FULL_ADMIN }}
JENKINS_URL={{ JENKINS_URL }}
JENKINS_ADMIN_EMAIL={{ JENKINS_ADMIN_EMAIL }}
SEEDJOB_GIT_REPO={{ SEEDJOB_GIT_REPO }}
PIPELINE_SHARED_LIBRARY_REPO={{ PIPELINE_SHARED_LIBRARY_REPO }}
AZURE_AD_OAUTH_ENABLE=true
AZURE_AD_AUTH_GROUP={{ AZURE_AD_AUTH_GROUP }}
AZURE_AD_DEV_GROUP={{ AZURE_AD_DEV_GROUP }}
AZURE_TENANT_ID={{ AZURE_TENANT_ID }}
CERTBOT_REG_EMAIL={{ CERTBOT_REG_EMAIL }}
#DEBUG_JENKINS=true
SERVER_ENVIRONMENT={{SERVER_ENVIRONMENT}}
DOCKER_SLAVE_SOCKET=tcp://10.0.1.4:2375
DOCKER_SLAVE_ANSIBLE_IMAGE={{ DOCKER_SLAVE_ANSIBLE_IMAGE }}
DOCKER_SLAVE_TERRAFORM_IMAGE={{ DOCKER_SLAVE_TERRAFORM_IMAGE }}
DOCKER_SLAVE_BASE_IMAGE={{ DOCKER_SLAVE_BASE_IMAGE }}
DOCKER_SLAVE_DOCKER_IMAGE={{ DOCKER_SLAVE_DOCKER_IMAGE }}
DOCKER_SLAVE_PACKER_IMAGE={{ DOCKER_SLAVE_PACKER_IMAGE }}
AZURE_VAULT_NAME={{ AZURE_VAULT_NAME }}
SLACK_NOTIFY_CHANNEL={{ SLACK_NOTIFY_CHANNEL }}
AZURE_FNG_SUBSCRIPTION_ID={{ AZURE_FNG_SUBSCRIPTION_ID }}
AZURE_STUDIO_SUBSCRIPTION_ID={{ AZURE_STUDIO_SUBSCRIPTION_ID }}
AZURE_VAULT_SECRETS={{ AZURE_VAULT_SECRETS }}