[Unit]
Description="Jenkins stack managed by docker-compose"
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/docker pull {{ docker_image }}
ExecStart=/usr/bin/docker stack deploy -c /opt/docker/jenkins-stack.yml jenkins
ExecStop=/usr/bin/docker stack rm jenkins
ExecStopPost=/bin/sleep 10
[Install]
WantedBy=multi-user.target
