{# {% extends "../component-or-error/macro.njk" %} #}
{% from "../personal-schedule-day-block/macro.njk" import personalScheduleDayBlock %}
{% if params.error %}
  <div class="govuk-error-summary">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <p class="govuk-error-message">{{params.error}}</p>
    </div>
  </div>
{% else %}
  <div class="govuk-width-container govuk-body timetable-day">
    {% for day, event in params %}
      <h3>{{event.title}}</h3>
      <div>
        <h4{% if event.morning.finished %} class="day-block-finished"{% endif %}>Morning</h4>
        <h4{% if event.afternoon.finished %} class="day-block-finished"{% endif %}>Afternoon</h4>
        <h4{% if event.evening.finished %} class="day-block-finished"{% endif %}>Evening</h4>
      </div>
      <div class="timetable-day-blocks">
        {{ personalScheduleDayBlock(event.morning) }}
        {{ personalScheduleDayBlock(event.afternoon) }}
        {{ personalScheduleDayBlock(event.evening) }}
      </div>
    {% endfor %}
  </div>
{% endif %}
