<a data-featured-tile-id="{{params.id}}" href="{{params.contentUrl}}">
  <div>
    {% if params.isSeries %}
      <div class="home-content-img-series">
        <img src="{{params.image.url}}" alt="" class="fit-img-landscape">
      </div>
    {% else %}
      <img src="{{params.image.url}}" alt="{{params.image.alt}}" class="fit-img-landscape">
    {% endif %}
    <h3 class="govuk-heading-m" style="">{{params.title}}</h3>
    <div>
      {% if params.contentType === "moj_video_item" %}
        <p class="content-link--video">Watch</p>
      {% elif params.contentType === "moj_radio_item" %}
        <p class="content-link--audio">Listen</p>
      {% else %}
        <p class="content-link--article">Read</p>
      {% endif %}
    </div>
  </div>
</a>
