{% from "../featured-content-item/macro.njk" import hubFeaturedContentItem %}

{%  set icon = {
  video: "icon-movie",
  page: "icon-document",
  pdf: "icon-document",
  radio: "icon-music"
}
%}

{% set linkText = {
  video: "Watch",
  page: "Read",
  pdf: "Read",
  radio: "Listen"
}%}

{% set linkIcon = {
  video: "icon-play",
  page: "icon-link",
  pdf: "icon-link",
  radio: "icon-play"
}%}

<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-hub-featured-content__category-title">{{ params.categoryTitle }}</h1>
    </div>
    {% if false %}
    <div class="govuk-grid-column-one-third govuk-hub-align-right">
      <a href="{{ params.categoryLink }}" class="govuk-hub-featured-content__category-link govuk-link">More <span class="icon-chevron"></span></a>
    </div>
    {% endif %}
  </div>
  <div class="govuk-grid-row content-items">
    {% for item in params.data %}
      <div data-featured-item-id="featured-content-{{item.id}}" class="item {{ params.columnNumber }}">
          {{ hubFeaturedContentItem({
            id: item.id,
            title: item.title,
            summary: item.summary,
            size: params.size,
            type: params.contentType,
            icon: icon[item.contentType],
            linktext: linkText[item.contentType],
            graphic: item.image,
            linkIcon: linkIcon[item.contentType],
            duration: item.duration
          }) }}
      </div>
    {% endfor %}
  </div>
</section>
