{% from "../featured-content-item/macro.njk" import hubFeaturedContentItem %}

<section data-featured-section-id="{{params.contentType}}">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 data-featured-section-title="{{ params.categoryTitle }}" class="govuk-hub-featured-content__category-title">{{ params.categoryTitle }}</h1>
    </div>
    <div class="govuk-grid-column-one-third govuk-hub-align-right">
      {% if params.categoryLink %}
        <a href="{{ params.categoryLink }}" class="govuk-hub-featured-content__category-link govuk-link">More <span class="govuk-hub-chevron-link">&#8250;</span></a>
      {% endif %}
    </div>
  </div>
  <div data-featured-section-items class="govuk-grid-row content-items">
    {% for item in params.data %}
      <div data-featured-item-id="featured-content-{{item.id}}" class="item {{ params.columnNumber }}">
        {{
          hubFeaturedContentItem({
            id: item.id,
            title: item.title,
            summary: item.summary,
            size: params.size,
            type: params.contentType,
            contentType: item.contentType,
            graphic: item.image,
            duration: item.duration,
            baseUrl: params.baseUrl
          })
        }}
      </div>
    {% endfor %}
  </div>
</section>
