{% from "../featured-content-item/macro.njk" import hubFeaturedContentItem %}

<div class="govuk-hub-landing-page-header">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-!-margin-bottom-6">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-!-padding-top-6">
            <h1 class="govuk-heading-xl">{{ params.title }}</h1>
            <p class="govuk-body-l">{{ params.description.summary}}</p>
            <p class="govuk-body">{{params.description.sanitized | safe }}</p>
          </div>
          <div class="govuk-grid-column-one-half">
            {{ hubFeaturedContentItem({
              title: 'Hello world',
              description: 'This is a desciption',
              size: 'large',
              type: 'healthy-mind-body',
              icon: 'icon-document',
              linkclass: 'icon-link',
              linktext: 'Clicky',
              graphic: '/images/national-prison-radio.jpg',
              link: '#'
            }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
