{% set categoryName = {
  "644": "news-events",
  "787": "day-to-day",
  "651": "art-culture",
  "648": "healthy-mind-body",
  "646": "radio-shows-podcasts",
  "649": "inspiration",
  "650": "science-nature",
  "643": "history",
  "786": "legal-and-your-rights",
  "785": "music",
  "645": "education"
} %}

<div id="category-{{params.categoryId}}" class="govuk-hub-landing-page-header">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-padding-top-2">
          <h1 id="title" class="govuk-heading-xl govuk-hub-landing-page-header-underline">{{ params.title }}</h1>
          <p class="govuk-heading-m">In this section</p>

          <nav class="govuk-hub-content-section-menu">
            <ul>
              {% for menuItem in params.categoryMenu %}
                <li><a href="{{menuItem.href}}" title="{{menuItem.linkText}}" class="govuk-link govuk-link--no-visited-state">{{menuItem.linkText}}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-hub-landing-page-header__category-stripe  govuk-hub-{{ categoryName[params.categoryId] }}"></div>
